{% extends "meshu/gallery/gallery.html" %}

{% block title %}Meshu - Use Foursquare Data{% endblock %}

{% block content %}
    <h2 class="page-header">
        Each meshu is a different set of places. Choose one to get started!
    </h2>
    <div id="maps">
    </div>
    <div id="finish-button" class="nav active">Or, just start making one manually</div>
    <div style="display:none;">
        <form action="/make/data/#skipintro" method="POST" id="meshu-select-form">
        {# put a csrf token in every form in django, for security #}
        {% csrf_token %}
        <input type="hidden" id="svg-file" name="svg"/>
        <input type="hidden" id="svg-theta" name="theta" value="0"/>
        <input type="hidden" id="meshu-title" name="title"/>
        <input type="hidden" id="meshu-data" name="location_data"/>
        </form>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}lib/polymaps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/d3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/d3.geom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mesh.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/minimeshu.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/saver.js"></script>
<script type="text/javascript">

    // load foursquare data
    $(function() {

        var hash = window.location.hash,
            token = hash.split('=').pop(),
            api = "https://api.foursquare.com/v2/users/self/checkins?oauth_token={token}&v={v}&limit=250",
            url = api.replace('{token}', token).replace('{v}', '20120102');

        // no token
        if (!token || !token.length) {
            return;
        }

        var selectMeshu = function(meshu, title) {
            return function() {
                $("#svg-file").val(meshu.outputSVG());
                $("#meshu-data").val(meshu.outputLocationData());
                $("#meshu-title").val(title);

                $("#meshu-select-form").submit();
            };
        };
        

        $("#finish-button").click(function() {
            window.location = "/make/#skipintro";
        });

        var locations = [];

        var places = {
            all: {
                name: 'All Cities',
                locations: []
            }
        };

        var placesArray = [];
        var countryArray = [];

        $.ajax({
            url: url,
            dataType: 'json',
            success: function(data) {
                var checkins = data.response.checkins.items;
                // go through all checkins
                $.each(checkins, function(i, e) {
                    if (!e.venue.location.city) return;

                    var location = {
                        latitude: e.venue.location.lat,
                        longitude: e.venue.location.lng,
                        name: e.venue.name,
                        times: 1
                    };

                    var city = e.venue.location.city;
                    var country = e.venue.location.country;

                    // make new city object
                    if (!places[city]) {
                        places[city] = {
                            name: city,
                            locations: [],
                            seen: {}
                        };    

                        places['all'].locations.push({
                            name: city,
                            latitude: location.latitude,
                            longitude: location.longitude
                        });

                        placesArray.push(places[city]);
                    }

                    // add location if we haven't seen it before
                    if (!places[city].seen[location.name]) {
                        places[city].locations.push(location);
                        places[city].seen[location.name] = location;    
                    } else {
                        places[city].seen[location.name].times++;
                    }

                    if (!places[country]) {
                        places[country] = {
                            name: country,
                            locations: [],
                            seen: {}
                        };

                        countryArray.push(places[country]);
                    }

                    // add location if we haven't seen it before
                    if (!places[country].seen[city]) {
                        places[country].locations.push(location);
                        places[country].seen[city] = true;    
                    }
                });
    
                // sort by number of locations
                placesArray.sort(function(a, b) {
                    return b.locations.length - a.locations.length;
                });

                countryArray.sort(function(a, b) {
                    return b.locations.length - a.locations.length;
                });


                var delay = 0;

                var addPlace = function(i, e) {
                    if (e.locations.length < 3) {
                        // console.log("ignoring", e.name, "too few checkins!");
                        return;
                    }

                    delay += 500; // e.locations.length > 10 ? 500 : 3000;

                    setTimeout(function() {
                        return function() {
                            var frame = $("<div>").addClass("mini-meshu");
                            var title = $("<div>").addClass("title").html(e.name);

                            frame.append(title);

                            $("#maps").append(frame);

                            var meshu = sb.minimeshu(frame[0]);
                            meshu.locations(e.locations);     

                            frame.click(selectMeshu(meshu, e.name));
                        };
                    }(), delay);
                    
                };

                // add countries first, and if we only've been to one country, 
                // don't show individual countries
                if (countryArray.length > 1) {
                    countryArray.unshift(places.all);
                    $.each(countryArray, addPlace);    
                } else {
                    addPlace(0, places.all);
                }
                
                $.each(placesArray, addPlace);
            }
        });

    });
</script>
{% endblock %}