{% extends "meshu/base.html" %}

{% block title %}Gallery{% endblock %}

{% block page_type %}{{ view }}{% endblock page_type %}

{% block content %}
    <h2 class="page-header">
    {% if view == 'user' %}
        {% if meshus|length == 0 %}
            You must be new! Let's get started.
        {% endif %}
        {% if meshus|length == 1 %}
            Welcome back. You've made one meshu.
        {% endif %}
        {% if meshus|length > 1 %}
            Welcome back. You've made {{ meshus|length }} meshus.
        {% endif %}
    {% endif %}
    {% if view == 'shop' %}
        Buy our stuff.
    {% endif %}
    </h2>
    <ul class="gallery">
        {% if view == 'user' %}
            <li class="object">
                <a class="image blank" href="/make/"></a>
                <a class="clicknew" href="/make/">click to make a new meshu!</a>
            </li>
        {% endif %}
        {% for object in meshus reversed %}
            <li class="object">
                <a class="image" href="
                    {% if view == 'shop' %}/shop/{{ object.id }}{% endif %}
                    {% if view == 'user' %}{{ object.get_absolute_url }}{% endif %}">
                    {% autoescape off %}
                        {{ object.svg }}
                    {% endautoescape %}
                </a>
                {% if view == 'shop' %}
                    <p class="description">{{ object.title }}<span class="price-range">{{ object.product }}</span></p>
                    <a class="clickthrough" href="/shop/{{ object.id }}">click to view</a>
                {% else %}
                    <p class="description">{{ object.title }}</p>
                    <a class="clickthrough" href="{{ object.get_absolute_url }}">click to view</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gallery.js"></script>
    <script type="text/javascript">
        /*
            Fixing last row of objects bottom border.

            maybe this can actually be done in CSS, 
            but I'm not quite sure how....
        */
        var galleryObjects = $(".object");
        galleryObjects.each(function(i, e) {
            var max = galleryObjects.length;
            if (Math.floor(i / 4) >= (max-1) / 4) {
                $(e).addClass("last-object");
            }
        });

    </script>
{% endblock %}