{% extends "meshu/base.html" %}

{% block title %}
    {% if view == 'user' %}Meshu - My Meshus{% endif %}
    {% if view == 'shop' %}Meshu - Shop Our Collection{% endif %}
{% endblock %}

{% block page_type %}{{ view }}{% endblock page_type %}

{% block content %}
    <h2 class="page-header">
    {% if view == 'user' %}
        {% if meshus|length == 0 %}
            You must be new! Let's get started.
        {% endif %}
        {% if meshus|length == 1 %}
            Welcome back. You've made one meshu.
        {% endif %}
        {% if meshus|length > 1 %}
            Welcome back. You've made {{ meshus|length }} meshus.
        {% endif %}
    {% endif %}
    {% if view == 'shop' %}
        A collection of our favorite meshus.
    {% endif %}
    </h2>
    <ul class="gallery" id="{% if view == 'user' %}maps{% else %}shop{% endif %}">
        <!-- {% if view == 'user' %}
            <li class="mini-meshu">
                <a class="image blank" href="/make/"></a>
                <a class="clicknew" href="/make/">click to make a new meshu!</a>
            </li>
        {% endif %} -->
        {% for object in meshus reversed %}
            <li class="{% if view == 'user' %}mini-meshu{% else %}object{% endif %}">
                <a href="
                    {% if view == 'shop' %}/shop/{{ object.id }}{% endif %}
                    {% if view == 'user' %}{{ object.get_absolute_url }}{% endif %}">
                {% if object.thumbnail != 'images/default_thumbnail.png' %}
                    <img src="{{ object.thumbnail.url }}" />
                {% else %}
                    <p class="hidden">{{ object.location_data }}</p>
                    <p class="hidden renderer">{{ object.renderer }}</p>
                    <p class="hidden metadata">{{ object.metadata }}</p>
                    <p class="hidden svg">{% autoescape off %}{{ object.svg }}{% endautoescape %}</p>
                {% endif %}
                {% if view == 'shop' %}
                    <div class="text-block">
                        <span class="title">{{ object.title|safe }}</span><br>
                        <span class="description">{{ object.product }}</span>
                    </div>
                {% else %}
                    <!-- <p class="title">{{ object.title|safe }}</p> -->
                {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/polymaps.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.v2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gallery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/minimeshu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.base.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.facet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.radial.js"></script>
    <script type="text/javascript">

        $(".mini-meshu").each(function(i){
            var frame = $(this).find("a")[0],
                data = $(this).find(".hidden").html(),
                renderer = $(this).find(".renderer").html(),
                metadata = $(this).find(".metadata").html(),
                svg = $(this).find(".svg").html();

            var meshu = sb.minimeshu(frame, renderer);
            meshu.initializeFromData(data, metadata, svg);
            if (renderer == "radial")
                $(this).find(".delaunay").attr("transform","scale(.5)");
        });

        /*
            Fixing last row of objects bottom border.

            maybe this can actually be done in CSS,
            but I'm not quite sure how....
        */
        var galleryObjects = $(".object");
        galleryObjects.each(function(i, e) {
            var max = galleryObjects.length;
            if (Math.floor(i / 4) >= (max-1) / 4) {
                $(e).addClass("last-object");
            }
        });
    </script>
{% endblock %}
