{% extends "meshu/base.html" %}

{% block title %}Meshu - Turn your places into beautiful objects.{% endblock %}

{% block content %}
	<div class="ribbon"></div>
	<div class="white-ribbon"></div>
	<div class="triangle-ribbon">SPECIAL EVENT!</div>

	<img id="logos" src="{{ STATIC_URL }}images/marathon/marathon_meshu_logos.jpg" >

	<h2 class="big" style="margin-top: 0;">the perfect memento.</h2>

	<img src="{{ STATIC_URL }}images/marathon/marathon_meshu_jewellery.jpg" class="centered" >

	<h2 class="big">turn your half marathon into a memory:</h2>
	<div id="route-animation">
		<div id="place-hover">
	        <span>London Eye</span>
	        <b class="notch" style="left: 28px; "></b>
	    </div>
		<img src="{{ STATIC_URL }}images/marathon/marathon_macro.jpg" class="centered" style="float:left;">
	</div>
	<a class="half" href="/shop/199/">
		<img src="{{ STATIC_URL }}images/marathon/marathon_meshu.jpg">
		<div class="tri"></div>
		<div class="triangle">15% OFF</div>
		<div class="button">View the Half Marathon Necklace</div>
	</a>
	<a class="half" href="/make/template/313939/">
		<img src="{{ STATIC_URL }}images/marathon/marathon_necklace.jpg">
		<div class="tri"></div>
		<div class="triangle">15% OFF</div>
		<div class="button pink">Choose Your Own Landmarks</div>
	</a>
	<!-- <div id="banners">
		<img class="bleed" id="banner-2" src="{{ STATIC_URL }}images/samples/banner2.jpg" style="display: none;"/>
		<img class="bleed" id="banner-1" src="{{ STATIC_URL }}images/samples/banner3.jpg" style="display: none;"/>
		<img class="bleed" id="banner-0" src="{{ STATIC_URL }}images/samples/banner1.jpg" />
	</div> -->

	<h2 class="big">here's how it works:</h2>

	<ul id="diagram">
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_01.png">
			<p>Enter in points along the route,</p>
			<p>or any places you like.</p>
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_02.png">
			<p>We generate a meshu to order as</p>
			<p>a bamboo necklace or earrings.</p>
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_03.png">
			<p>We fabricate and ship you</p>
			<p>your finished piece!</p>
		</li>
	</ul>

	<h2 class="big">each meshu comes with its own map postcard:</h2>
	<img src="{{ STATIC_URL }}images/diagrams/postcard_shoot_web.jpg" class="centered">

	<h2 class="big">ready to get started?</h2>
	<div id="get-started">
		<a class="option" style="background-color: #1FCAFF;" href="/shop/">View The Necklace</a>
		<a class="option pink" href="/make/">Make Your Own!</a>
	</div>
	<!-- <h2 class="bottom">Or, connect with <a rel="nofollow" class="facebook-auth button" href="/facebook/login">Facebook</a> or <span class="foursquare-auth button">Foursquare</span> to use your past places.</h2> -->
{% endblock %}

{% block footer %}
	<div id="footer">
		<p>meshu is a project by <a href="http://twitter.com/rachelbinx" target="_blank">Rachel Binx</a> and <a href="http://twitter.com/shashashasha" target="_blank">Sha Hwang</a>. Say hi to us on <a href="http://twitter.com/himeshu" target="_blank">twitter</a> or like us on <a href="http://facebook.com/meshuio" target="_blank">facebook</a>!</p>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ STATIC_URL }}lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/min/index.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/min/foursquare.min.js"></script>
	<style>
		#logos {
			width: 448px;
			margin: 0 auto;
			display: block;
			margin-top: 30px;
		}
		.centered {
			width: 960px;
		}
		#route-animation {
			position: relative;
		}
		#place-hover {
		}
		.half {
			width: 480px;
			display: inline-block;
			height: 300px;
			position: relative;
			font-size: 25px;
			float: left;
			margin-bottom: 45px;
		}
		.half:nth-child(odd) {
			margin-left: 20px;
		}
		.half img {
			width: 100%;
		}
		.half .button {
			position: absolute;
			bottom: 0;
			width: 100%;
			color: white;
			margin: 0;
			padding: 5px 0;
		}
		.tri, .ribbon, .white-ribbon {
			border-width: 40px;
			border-color: #000 transparent transparent #000;
			border-style: solid;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			height: 0;
			width: 0;
		}
		.half:hover .tri, .ribbon {
			border-color: #FF3FB4 transparent transparent #FF3FB4;
		}
		.white-ribbon {
			border-color: #FFF transparent transparent #FFF;
		}
		.ribbon {
			border-width: 70px;
		}
		.triangle, .triangle-ribbon {
			font-size: 16px;
			color: white;
			position: absolute;
			top: 22px;
			left: -3px;
			z-index: 2;
			-moz-transform: rotate(315deg);
			-moz-transform-origin: 50% 50%;
			-webkit-transform: rotate(315deg);
			-webkit-transform-origin: 50% 50%;
			-o-transform: rotate(315deg);
			-o-transform-origin: 50% 50%;
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
		}
		.triangle-ribbon {
			font-size: 18px;
			top: 46px;
			left: -12px;
		}
		.option {
			width: 320px;
		}
		.button:hover {
			box-shadow: none;
		}
	</style>
	<script>
		var placeHover = $("#place-hover");
		places = [{"title":"Houses of Parliment","x":810,"y":308},
				  {"title":"Buckingham Palace","x":612,"y":272},
				  {"title":"London Eye","x":875,"y":239},
				  {"title":"Marble Arch","x":420,"y":58},
				  {"title":"Wellington Arch","x":520,"y":253},
				  {"title":"Royal Albert Hall","x":213,"y":278},
				  {"title":"Admirality Arch","x":797,"y":196},
				  {"title":"Kensington Palace","x":92,"y":210}];
		var placeIndex = 0;

		var fadeInterval = setInterval(function(){
			placeIndex = (placeIndex+1)%places.length;
			fadeInOutPlace(placeIndex);
		},4000);

		fadeInOutPlace(placeIndex);

		function fadeInOutPlace(i) {
			var p = places[i];
			placeHover.find("span").text(p.title);
			placeHover.fadeIn('fast');
                
            var w = placeHover.width();
            var ptop = p.y + "px";
            var left = p.x - (w/2) + "px";
            var bleft = w/2 - 3 + "px";

            placeHover.css({"top": ptop, "left": left})
                .find("b").css("left", bleft);
            var timer = setTimeout(function(){
				placeHover.fadeOut('slow');
			},3000);
		}
	</script>
{% endblock %}