{% extends "meshu/base.html" %}

{% block title %}Meshu - Order Confirmed{% endblock %}

{% block page_type %}{{ view }}{% endblock page_type %}


{% block content %}
	<h2 id="notification" class="page-header">
        {% if view == 'signedup' %}
            Awesome! Thanks for signing up!
        {% endif %}
        {% if view == 'paid' %}
            Awesome! Thanks for ordering!
        {% endif %}
        {% if view == 'authorization_required' %}
            Sorry, you need to log in to see that page.
        {% endif %}
        {% if view == '404' %}
            Oh, our bad.
        {% endif %}
    </h2>
    {% block message %}
    {% endblock %}
{% endblock %}