{% extends "meshu/base.html" %}

{% block title %}Meshu - Order Confirmed{% endblock %}

{% block page_type %}{{ view }}{% endblock page_type %}


{% block content %}
	<h2 id="notification" class="page-header"></h2>
    {% block message %}
    {% endblock %}
    <script type="text/javascript">
    	var page_name = '{{ view }}';
    	var notification;

    	switch (page_name) {
            case 'signedup':
                notification = 'Awesome! Thanks for signing up!';
                break;
    		case 'paid':
    			notification = 'Awesome! Thanks for ordering!';
    			break;
    		case '404':
    			notification = 'Oh, our bad.'
    			break;
    		default:
    			notification = 'Default notification';
    			break;
    	}

    	var text = document.getElementById('notification');
    	text.innerHTML = notification;
    </script>
{% endblock %}