{% extends "meshu/notification/base_notification.html" %}
{% load shorturl %}

{% block title %}Meshu - Order Confirmed{% endblock %}

{% block message %}
<div>
    We've just sent you an email confirmation to confirm your order as well.<br/>
    You can show other people your new meshu (if you want!) by sending them this link: <b><a href="http://meshu.io{% shorturl meshu %}">http://meshu.io{% shorturl meshu %}</a></b>
</div>
<h2 class="content-header">Say hi!</h2>
<div>
Keep in touch and stay updated on our latest on <a href="http://facebook.com/meshuio" target="_blank">facebook</a> or <a href="http://twitter.com/himeshu" target="_blank">twitter</a>!
</div>
{% endblock %}