{% extends "meshu/notification/base_notification.html" %}
{% load shorturl %}

{% block title %}Meshu - Order Confirmed{% endblock %}

{% block message %}
<div>
    <p style="font-size: 18px; margin: 1em 0;">We've just sent you an email confirmation to confirm your order as well.</p>
    <p style="font-size: 18px; margin: 1em 0;">You can show other people your new meshu by sending them this link: <b><a href="http://meshu.io{% shorturl meshu %}">http://meshu.io{% shorturl meshu %}</a></b></p>
</div>
{% endblock %}