/*
    Mixins
*/
.transition (@property: opacity, @time: 1s) {
    transition: @property @time;
    -moz-transition: @property @time;
    -webkit-transition: @property @time;
    -o-transition: @property @time;
}

@grey: #808080;
@pink: #FF3FB4;
@blue: #1fcaff;


/* main page styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h2 {
    font-weight: normal;
    font-size: 28px;
}
a {
    color: black;
    text-decoration: none;
}
input {
    color: @grey;
    padding: 5px;
    border: 1px solid @grey;
}



#top {
    width: 1000px;
    margin: 30px auto 0;
    position: relative;
}
h1#meshu {
    margin: 0;
}
#nav {
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 18px;
}
#nav li {
    display: inline-block;
    margin-left: 25px;
}

#content {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid @grey;
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

#edit {
    padding: 20px;
    width: 360px;
    min-height: 560px;
    position: absolute;
    top: 0;
}
.edit #edit {
    left: 0;
    .transition(left, 1s);
}
.make #edit {
    left: -400px;
    .transition(left, 1s);
}
.checkout #edit {
    left: -400px;
}

#search h2 {
    margin: 0 0 10px;
}
#search input {
    border: 1px solid @blue;
}

.button {
    cursor: pointer;
    background-color: @blue;
    color: white;
    padding: 3px 5px;
    margin: 4px 0;
    text-align: center;
    display: inline;
}

#cases {
    margin: 5px 0;
}
#cases li.title {
    margin-bottom: 5px;
}
.maybe-place {
    color: @grey;
    cursor: pointer;
}
.maybe-place:hover {
    color: black;
}

#places {
    margin-top: 40px;
}
.place {
    color: @grey;
}
.place.highlight {
    color: @pink;
}
.place .delete {
    display: none;
    margin-left: 15px;
    padding: 0 3px;
    background-color: @pink;
    cursor: pointer;
    color: white;
}
.place:hover .delete {
    display: inline;
}

.frame {
	width: 600px;
	height: 600px;
    position: absolute;
    z-index: 1;
}
.edit .frame {
    right: 0;
    .transition(right, 1s);
}
.make .frame, .checkout .frame {
    right: 400px;
    .transition(right, 1s);
}

.map .layer {
    opacity: .25;
    .transition(opacity, 1s);
}

.edit .map .layer {
    opacity: 1;
    .transition(opacity, 1s);
}

#materials, #checkout {
    padding: 20px;
    width: 360px;
    min-height: 560px;
    position: absolute;
    top: 0;
}
.edit #materials {
    right: -400px;
    .transition(right, 1s);
}
.make #materials{
    right: 0px;
    .transition(right, 1s);
}
.checkout #materials {
    right: 400px;
    .transition(right, 1s);
}

#checkout {
    right: -400px;
    .transition(right, 1s);
}
.checkout #checkout {
    right: 0;
    .transition(right, 1s);
}

.make-wrapper {
    margin-top: 40px;
}
.make-wrapper h2 {
    margin: 20px 0 10px 0;
}
.make-wrapper li {
    color: @grey;
}
.make-wrapper li:hover {
    color: black;
}
.make-wrapper li.selected {
    color: @pink;
}
.option-list li {
    cursor: pointer;
}
#material-list {
    width: 200px;
}
#material-list li .price {
    float: right;
    color: black;
    display: none;
}
#material-list li:hover .price {
    display: inline;
}
#material-list li.selected .price {
    display: inline;
    color: @grey;
}


#total {
    display: block;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 40px;
    padding-top: 10px;
}
#total-cost {
    float: right;
    font-size: 28px;
    color: @grey;
}
#total h2{
    margin-top: 0;
}

.nav {
    background-color: @pink;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.back {
    background-color: @grey;
    position: absolute;
    left: 20px;
    top: 20px;
}
.finish {
    background-color: @grey;
    .transition(background-color, 1s);
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: default;
}
.finish.active {
    cursor: pointer;
    background-color: @pink;
    .transition(background-color, 1s);
}
.checkout-button {
    position: relative;
    float: right;
    font-size: 20px;
}

/* 
	SVG Styling
*/
path {
    fill: none;
    stroke: black;
    pointer-events: none;
    stroke-width: 3;
    stroke-linejoin: round;
}

circle {
    fill: @pink;
    fill-opacity: 0;
}

circle:hover, circle.highlight {
    fill-opacity: 1;
    cursor: pointer;
}


li.object {
    display: inline-block;
    border: 1px solid @grey;
    position: relative;
    cursor: pointer;
    margin-bottom: -3px;
}
li.object .image {
    width: 238px;
    height: 290px;
    border: 5px solid white;
}
li.object:hover .image {
    border: 5px solid @blue;
}
li.object .description {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: @grey;
}
li.object:hover .description {
    color: black;
}
li.object .detail {
    background-color: @pink;
    color: white;
    position: absolute;
    padding: 3px 6px;
    right: 10px;
    bottom: 35px;
    display: none;
}
li.object:hover .detail {
    display: block;
}
