/*
    Mixins
*/
.transition (@property: opacity, @time: .6s) {
    transition: @property @time;
    -moz-transition: @property @time;
    -webkit-transition: @property @time;
    -o-transition: @property @time;
}

.shadow (@distance: 300px, @color: rgba(0,0,0, 0.1)) {
  -webkit-box-shadow: 0px 0px @distance @color;
     -moz-box-shadow: 0px 0px @distance @color; 
          box-shadow: 0px 0px @distance @color; 
}

@borderGrey: #e6e6e6;
@grey: #808080;
@pink: #FF3FB4;
@blue: #1fcaff;

@pageWidth: 1000px;


/* main page styles */
body {
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

h2.page-header {
    padding-left: 20px;
    margin: 20px 0;
}

h2.content-header {
    margin: 50px 0 20px 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

input {
    color: @grey;
    padding: 5px;
    border: 1px solid @grey;
}

/* for map tiles initially, but let's see how annoying it is for all the images */
image {
    .transition();
}


#top {
    width: @pageWidth;
    margin: 30px auto 0;
    position: relative;
}

h1#meshu {
    margin: 0;
}

#nav {
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 18px;
}

#nav li {
    display: inline-block;
    margin-left: 25px;
}
#nav li.inactive {
    display: none;
}

#login-form {
    display: none; 
    position: absolute; 
    z-index: 9000; 
    top: 150px;
    right: 295px; 
    width: 410px; 
    height: 250px;
    padding: 15px 0;
    background: white;
    border: 1px solid @borderGrey;
}
#login-form h2 {
    padding: 0 13px 10px;
}
#login-form ul {
    border-bottom: 1px solid @borderGrey;
    height: 33px;
    padding-left: 20px;
}
#login-form li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid @borderGrey;
    margin: 0 -3px 0;
    color: @grey;
    background-color: white;
    cursor: pointer;
}
#login-form.signin .account, #login-form.account .signin {
    display: none;
}
#login-form li:hover {
    color: @pink;
}
#login-form li.active, #login-form li.active:hover {
    border-bottom: 1px solid white;
    color: black;
}
#login-form table {
    padding: 20px;
}
#login-form.signin table {
    padding-top: 40px;
}
#login-form input {
    width: 255px;
    margin-left: 20px;
}
#login-form #login-buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#login-form #login-cancel {
    background-color: @grey;
}
#login-form #login-submit, #login-form #login-create {
    background-color: @pink;
}

#content {
    width: @pageWidth;
    margin: 0 auto 30px auto;
    border: 1px solid @borderGrey;
    min-height: 600px;
    position: relative;
    overflow: hidden;
    .shadow();
}
#content.modal {
    opacity: .3;
}

.inner-content {
    padding: 0 20px;
}

#edit {
    padding: 20px;
    width: 360px;
    min-height: 560px;
    position: absolute;
    top: 0;
}
.edit #edit {
    left: 0;
    .transition(left);
}
.make #edit, .checkout #edit, .view #edit, .readymade #edit {
    left: -400px;
    .transition(left);
}

#search h2, #places h2 {
    margin: 0 0 5px;
}
#search input {
    border: 1px solid @blue;
}

.button {
    cursor: pointer;
    background-color: @blue;
    color: white;
    padding: 3px 5px;
    margin: 4px 0;
    text-align: center;
    display: inline;
}

#cases {
    margin: 5px 0;
}
#cases li.title {
    margin-bottom: 5px;
}
.maybe-place {
    color: @grey;
    cursor: pointer;
}
.maybe-place:hover {
    color: black;
}

#place-hover {
    position: absolute;
    z-index: 1339;
    display: block;
    background: @pink;
    color: white;
    padding: 2px 5px;
    display: none;
    white-space: nowrap;
}
#place-hover.active {
    display: block;
}
.notch {
    position: absolute;
    top: 21px;
    left: 20px;
    margin: 0;
    border-top: 6px solid @pink;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 0;
    padding: 0;
    width: 0;
    height: 0;
}

#places {
    margin-top: 30px;
}
#place-number .title-text {
    display: inline-block;
    width: 290px;
    position: relative;
    height: 32px;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#place-number .title-text input {
    width: 280px;
    position: absolute;
    top: 0;
    font-size: 20px;
    padding: 3px;
}
#place-number:hover .title-text{
    background-color: #eee;
    cursor: auto;
}
#place-number.inactive:hover .title-text{
    background-color: #fff;
}
#place-number .title-edit{
    display: none;
    background-color: @pink;
    float: right;
    padding: 0 5px;
    color: white;
    cursor: pointer;
}
#place-number:hover .title-edit, #place-number.active .title-edit{
    display: inline-block;
}
#place-number.inactive:hover .title-edit{
    display: none;
    cursor: auto;
}

#places ul {
    height: 345px;
    overflow-y: auto;
}
.place {
    color: @grey;
    margin: 2px 0;
    padding: 1px 0;
    width: 278px;
}
.place input {
    color: gray;
    padding: 1px;
    border: 1px solid gray;
    margin: -2px 0;
    width: 207px;
    font-size: 13px;
}
.place .title {
    width: 252px;
    display: inline-block;
    cursor: text;
}

.place .place-text {
    width: 211px;
    padding: 2px;
    display: inline-block;
}
.place:hover .place-text {
    color: black;
    background-color: #eee;
}
.place.highlight {
    color: @pink;
}
.place .place-delete, .place .place-edit {
    display: none;
    padding: 1px 5px 3px 5px;
    background-color: @pink;
    cursor: pointer;
    color: white;
    float: right;
}
.place:hover .place-delete, .place:hover .place-edit,
.title.active .place-delete, .title.active .place-edit {
    display: inline;
}

.frame {
	width: 600px;
	height: 600px;
    position: absolute;
    z-index: 1;
    .transition(width);
}
.view .frame {
    width: 1000px;
    .transition(width);
    right: 0;
}
.edit .frame {
    right: 0;
    .transition(right);
}
.make .frame, .checkout .frame, .review .frame, .display .frame, .readymade .frame {
    right: 400px;
    .transition(right);
}

.map .layer {
    opacity: .3;
    .transition(opacity);
}

.view .map .layer {
    opacity: .6;
    .transition(opacity);
}

.edit .map .layer {
    opacity: 1;
    .transition(opacity);
}

.checkout .map .layer, .review .map .layer {
    opacity: 0;
    .transition(opacity);
}

.right-div, .left-div{
    position: absolute;
    width: 100px;
}
.left-div{
    top: 295px;
}
.right-div {
    left: 200px;
    top: 297px;
}
.ready .left-div, .ready .right-div {
    top: 200px;
}
#rotate {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
#rotate-help {
    position: absolute;
    left: 220px;
    top: 130px;
    width: 140px;
    color: #aaa;
    font-size: 12px;
}

#materials, #checkout, #review, #view, #display {
    padding: 20px;
    width: 360px;
    min-height: 560px;
    position: absolute;
    top: 0;
}
.edit #materials, .view #materials {
    right: -400px;
    .transition(right);
}
.make #materials, .readymade #materials{
    right: 0px;
    .transition(right);
}
.checkout #materials, .review #materials {
    right: 400px;
    .transition(right);
}

#checkout {
    right: -400px;
    .transition(right);
}
.checkout #checkout {
    right: 0;
    .transition(right);
}
.review #checkout {
    right: 400px;
    .transition(right);
}
.edit #review, .make #review, .checkout #review, .view #review, .readymade #review {
    right: -400px;
    .transition(right);
}
.review #review {
    right: 0;
    .transition(right);
}
.review-header {
    font-size: 18px;
}
#review p {
    color: @grey;
}

.edit #view {
    right: -400px;
    .transition(right);
}
.view #view {
    top: 20px;
    left: 20px;
    z-index: 1;
    padding: 0;
    width: 250px;
}
.make #view, .checkout #view, .review #view {
    right: 400px;
    .transition(right);
}
#view p, #view span, #view ul{
    background-color: rgba(255,255,255,.9);
    padding: 3px 10px;  
}
#view ul{
    padding-top: 10px;
    display: none;
}
#view li {
    padding-left: 20px;
    text-indent: -20px;
}
#view h2 {
    margin-bottom: 15px;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#view .show-places {
    cursor: pointer;
}

.display #display {
    right: 0;
}

#display-places {
    max-height: 410px;
    overflow-y: auto;
}

.make-wrapper {
    margin-top: 40px;
    position: relative;
}
.ready .make-wrapper {
    margin-top: 0;
}
.make-wrapper h2 {
    margin: 20px 0 5px 0;
}
.ready .make-wrapper h2 {
    margin-top: 0;
}
.make-wrapper li {
    color: @grey;

    &:hover {
        color: black;
    }

    &.selected {
        color: @pink;
    }
}

.readymade li:hover {
    color: @grey;
}

.option-list li {
    cursor: pointer;
}

#material-list {
    li .price {
        float: right;
        color: black;
        display: none;
    }

    li:hover .price {
        display: inline;
    }

    li.selected .price {
        display: inline;
        color: @grey;
    }
} 

#review {
    h3 {
        margin: 1.5em 0 .5em 0;
    }
    p {
        margin: .25em 0;
    }
}

#total {
    display: block;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 40px;
    padding-top: 10px;
    position: absolute;
    top: 400px;

    h2 {
        margin-top: 0;
    }
}
.ready #total {
    top: 310px;
}
#total-cost {
    float: right;
    font-size: 28px;
    color: @grey;
}

.nav {
    background-color: @grey;
    color: white;
    padding: 5px 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    .transition(background-color, .5s);
    cursor: pointer;
}
.nav a {
    color: white;
}
.view .nav {
    z-index: 1;
}

.nav:hover {
    background-color: @blue;
}

.nav.active {
    background-color: @pink;
    .transition(background-color, .5s);
    cursor: pointer;
}

.back {
    position: absolute;
    left: 20px;
    top: 20px;
}
.view .back {
    left: auto;
    right: 130px;
}

#finish-button, #save-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#checkout-button, #review-button {
    position: relative;
    float: right;
    font-size: 20px;
}
#review-button {
    margin-top: 30px;
}
#order-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* 
	Map Object Styling
*/
#meshu-container path, #mini-delaunay path, #rotate-ui path, .gallery .meshu-svg path {
    fill: none;
    stroke: black;
    pointer-events: none;
    stroke-width: 5;
    stroke-linejoin: round;
}

circle {
    fill: @pink;
    fill-opacity: 0;
}

.edit circle:hover, circle.highlight {
    fill-opacity: 1;
    cursor: pointer;
}
#hidden, #rotate-ui {
    display: none;
}
#mini-delaunay path {
    stroke-width: 10;
}

#rotate:hover #rotate-ui {
    display: block;
}
#rotate-ui circle {
    fill-opacity: 1;
}
#rotate-ui path {
    stroke: #999;
}

/* Map UI */

.mapui {
    opacity: 0;
    .transition(opacity);
}

.edit .mapui {
    position: absolute;
    z-index: 1338;
    opacity: 1;
    .transition(opacity);

    div {
        position: relative;
        background: @grey;
        display: block;
        width: 20px;
        height: 20px;
        margin: 5px;
    }

    div:hover {
        pointer: cursor;
    }
}

/*
    gallery display
*/
li.object {
    display: inline-block;
    border: 1px solid @borderGrey;
    position: relative;
    margin-bottom: -3px;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -4px;

    .image {
        width: 239px;
        height: 290px;
        border: 5px solid white;
        display: block;
    }

    .blank {
        background-color: @borderGrey;
        border: 5px solid @borderGrey;
    }
    
    .description {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: @grey;
    }

    .clickthrough {
        background-color: @pink;
        color: white;
        position: absolute;
        padding: 3px 6px;
        right: 10px;
        bottom: 35px;
        display: none;
    }

    .clicknew {
        position: absolute;
        width: 180px;
        top: 30px;
        left: 35px;
        text-align: center;
        font-size: 28px;
    }

    /* hover for gallery item */
    &:hover {
        .image {
            border: 5px solid @blue; 
        }

        .blank {
            border: 5px solid @pink; 
        }

        .description {
            color: black;
        }

        .clickthrough {
            display: block;
            cursor: pointer;
        }
    }
}

/* fix the last item in every row in the store / gallery views */
li.object:nth-child(4n) {
    border-right: 0px;

    .image {
        width: 240px;
    }
}

li.last-object {
    border-bottom: 0px;
}

.gallery .meshu-svg {
    width: 220px;
    height: 220px;
    padding: 5px;
    position: absolute;
}
.gallery .meshu-svg path {
    stroke-width: 12;
}

#img-thumbs {
    padding-top: 10px;
}

#img-thumbs li {
    display: inline-block;
}
.other-view {
    position: absolute;
    top: -20px;
    left: -620px;
    opacity: 0;
    .transition(opacity);
}
.other-view.active {
    opacity: 1;
    z-index: 1;
    .transition(opacity);
}
.other-view.z-1{
    z-index: 1;
}
