/*
    Variables
*/
/*
    Mixins
*/
/* main page styles */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h2 {
  font-weight: 300;
  font-size: 28px;
  margin: 0;
}
h2.page-header {
  padding-left: 20px;
  margin: 20px 0;
}
h2.content-header {
  margin: 50px 0 20px 0;
}
a {
  color: black;
  text-decoration: none;
}
p {
  margin: 0;
}
input {
  color: #808080;
  padding: 4px;
  border: 1px solid #808080;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
img {
  border: none;
}
/* for map tiles initially, but let's see how annoying it is for all the images */
image {
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
#top {
  width: 1000px;
  margin: 30px auto 0;
  position: relative;
}
h1#meshu {
  margin: 0;
  font-weight: 300;
}
#nav {
  position: absolute;
  bottom: 4px;
  right: 0;
  font-size: 16px;
}
#nav #profile a {
  color: #1fcaff;
}
#nav #profile a:hover {
  color: #ff3fb4;
}
#nav li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
#nav li:hover,
#nav li:hover a {
  color: #ff3fb4;
}
#nav li.inactive {
  display: none;
}
#nav li.last {
  margin-right: 0;
}
#nav .num {
  color: #1fcaff;
}
#nav #nav-cart:hover .num {
  color: #ff3fb4;
}
#login-form label.error.login-error,
#account label.error.login-error {
  display: none;
}
#login-form h2,
#account h2 {
  text-align: center;
}
#login-form form,
#account form {
  margin-top: 15px;
}
#login-form label,
#account label {
  line-height: 30px;
}
#login-form .login-row,
#account .login-row {
  min-height: 30px;
}
#login-form .reenter,
#account .reenter {
  bottom: -10px;
  float: left;
  line-height: 15px;
}
#login-form .fb_iframe_widget,
#account .fb_iframe_widget {
  width: 177px;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}
#login-form hr,
#account hr {
  margin-top: 20px;
  border-top: 0px solid #e6e6e6;
}
#login-form .or,
#account .or {
  margin-top: -20px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: #808080;
}
#login-form .or span,
#account .or span {
  background: white;
  padding: 0 10px;
}
#login-form .tab-switch,
#account .tab-switch {
  padding-left: 95px;
}
#login-form p,
#account p {
  margin: 15px 17px 15px 0;
  color: #808080;
  font-size: 12px;
}
#login-form {
  display: none;
  position: absolute;
  z-index: 3;
  top: 150px;
  right: 310px;
  width: 380px;
  min-height: 205px;
  padding-top: 15px;
  background: white;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.1);
}
#login-form h2 {
  padding: 0 0 10px 17px;
}
#login-form .login-row {
  display: block;
  width: 320px;
  margin-left: 30px;
}
#login-form label {
  width: 70px;
}
#login-form label.error {
  color: #ff3fb4;
  width: auto;
  display: block;
  font-size: 12px;
  line-height: 19px;
  font-family: Helvetica, Arial, sans-serif;
  clear: both;
}
#login-form p {
  margin: 15px 20px 0 29px;
}
.tab-switch {
  border-bottom: 1px solid #e6e6e6;
  height: 28px;
  padding-left: 20px;
}
#shipping-destination.tab-switch {
  padding-left: 16px;
}
.tab-switch li {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #e6e6e6;
  margin: 0 -3px -1px;
  color: #808080;
  background-color: white;
  cursor: pointer;
}
.tab-switch li:hover {
  color: #ff3fb4;
}
.tab-switch li.active,
.tab-switch li.active:hover {
  border-bottom: 1px solid white;
  color: black;
}
body.win #login-form ul {
  height: 27px;
}
#login-form.signin .account,
#login-form.account .signin,
#account.signin .account,
#account.account .signin {
  display: none;
}
#login-form input {
  width: 225px;
  margin-left: 20px;
  float: right;
}
#login-form input.error {
  border-color: #ff3fb4;
}
#login-form input.button {
  border: none;
}
#login-form .login-buttons {
  margin-top: 40px;
  position: relative;
  height: 20px;
}
#login-form .login-cancel {
  background-color: #808080;
  position: absolute;
  bottom: 15px;
  right: 90px;
}
#login-form.account .login-cancel {
  right: 150px;
}
#login-form #login-signin,
#login-form #login-account {
  background-color: #ff3fb4;
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  right: 30px;
}
#reset-password-form {
  width: 400px;
}
#reset-password {
  background-color: #ff3fb4;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}
.solo-form input.aligned {
  float: right;
}
.solo-form label {
  line-height: 30px;
}
.solo-form label.error {
  clear: both;
  font-size: 12px;
  color: #ff3fb4;
  display: block;
}
.solo-form input.error {
  border-color: #ff3fb4;
}
.solo-form .form-row {
  clear: both;
  min-height: 33px;
}
#login-form #login-account {
  width: 110px;
}
#login-form #login-signin {
  width: 50px;
}
.big {
  font-size: 46px;
  text-align: center;
  margin-top: 45px;
}
.centered {
  margin: 20px 20px 0 20px;
}
#photos {
  /* bit of pixel twiddling to line up with the banner photos */

  margin-left: 20px;
  margin-right: 19px;
  position: relative;
  width: 961px;
  height: 480px;
  color: #808080;
}
#photos img {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  float: left;
  width: 320px;
  height: 480px;
}
#photos #intro-text {
  margin: 20px 0 20px 20px;
  text-align: left;
  font-size: 34px;
  width: 300px;
  float: left;
}
#photos #intro-text .meshu-title {
  color: black;
}
#photos .large-button {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
#photos .minor-actions {
  font-size: 20px;
  margin-top: 49px;
  margin-left: 20px;
  width: 300px;
  line-height: 1.7;
  float: left;
}
#photos .button {
  padding: 5px 11px;
}
#photos .minor {
  background-color: #8f8f8f;
}
#banners {
  height: 375px;
  width: 960px;
  margin: 20px;
  position: relative;
}
.macro {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.call {
  margin: 25px 0 40px;
  text-align: center;
}
.call a,
.call span {
  padding: 6px 10px;
  margin-right: 15px;
}
.call .shop {
  background-color: #808080;
}
#diagram {
  margin: 0 44px 50px;
}
#diagram li {
  display: inline-block;
  width: 301px;
  height: 240px;
  margin: 0;
  position: relative;
}
#diagram li p {
  text-align: center;
  font-size: 20px;
}
#main form {
  margin: 50px 0;
  text-align: center;
}
#main input.button {
  border: none;
}
#get-started {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin: 30px auto;
}
.bottom {
  text-align: center;
  margin-bottom: 50px;
}
.option {
  width: 305px;
  background-color: #1fcaff;
  color: white;
  font-size: 36px;
  padding: 10px 0;
  display: inline-block;
  margin: 0 10px;
}
.option:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.option.pink {
  background-color: #ff3fb4;
}
#footer {
  margin-bottom: 50px;
}
#footer p {
  text-align: center;
}
#footer a {
  color: #ff3fb4;
}
#crazy {
  position: absolute;
  left: -100px;
  top: 275px;
}
#crazy .line {
  border-left: 1px dashed #bbb;
  position: absolute;
  left: 37px;
  z-index: -1;
  height: 100%;
}
#crazy li {
  font-size: 50px;
  background-color: #bbb;
  color: white;
  border-radius: 100px;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
}
#crazy li:last-child {
  margin-bottom: 0;
}
#content {
  width: 1000px;
  margin: 0 auto 50px auto;
  border: 1px solid #e6e6e6;
  min-height: 600px;
  position: relative;
  /*overflow: hidden;*/

  -webkit-box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
#content .section {
  width: 100%;
  border-bottom: 1px dashed #808080;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
}
#content .section.last {
  border-bottom: none;
}
.inner-content {
  padding: 0 20px;
}
#no-svg {
  position: absolute;
  top: 100px;
  left: 190px;
  width: 580px;
  height: 180px;
  z-index: 3;
  background: white;
  border: 1px solid #e6e6e6;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#no-svg p {
  margin: 1em 0;
}
#no-svg p a {
  color: #808080;
}
#no-svg h2 {
  margin-top: 15px;
}
#modal-bg {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .7;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#edit {
  height: 600px;
}
#edit.section {
  padding: 0;
}
#edit-ui {
  position: absolute;
  z-index: 2;
  height: 100%;
}
/*.edit #edit {
    left: 0;
    .transition(left);
}
.make #edit, .checkout #edit, .view #edit, .readymade #edit {
    left: -400px;
    .transition(left);
}*/
#search {
  padding: 10px;
}
#search,
#places {
  margin: 10px;
  background-color: white;
  width: 320px;
  box-sizing: border-box;
}
#search .note {
  margin: 5px 0 10px;
}
#search h2,
#places h2 {
  margin: 0 0 5px;
}
#search input {
  border: 1px solid #1fcaff;
}
.button {
  cursor: pointer;
  background-color: #1fcaff;
  color: white;
  padding: 3px 5px;
  margin: 4px 0;
  text-align: center;
  display: inline;
}
.button.pink {
  background-color: #ff3fb4;
}
.button.grey {
  background-color: #808080;
}
.button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
#search-button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#edit .connect-wrapper {
  background-color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 10px 0 10px 10px;
  font-size: 18px;
}
#edit .connect-wrapper .title {
  margin-bottom: 5px;
}
#edit .foursquare-auth,
#edit .facebook-auth {
  margin: 0 7px 0 0;
  padding: 8px 9px 9px 34px;
  position: relative;
  font-size: 14px;
  display: inline-block;
}
.foursquare-auth img {
  height: 20px;
  position: absolute;
  left: 7px;
  top: 7px;
}
#edit .facebook-auth {
  background-image: url(../images/social/facebook.png);
  background-position: 8% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 8px 8px 9px 34px;
}
#cases {
  margin: 3px 0;
}
#cases p {
  color: #ff3fb4;
}
#cases li.title {
  margin-bottom: 5px;
}
.maybe-place {
  color: #808080;
  cursor: pointer;
}
.maybe-place:hover {
  color: #ff3fb4;
}
#place-hover {
  position: absolute;
  z-index: 1339;
  display: block;
  background: #ff3fb4;
  color: white;
  padding: 3px 6px 4px 5px;
  display: none;
  white-space: nowrap;
}
#place-hover.active {
  display: block;
}
.notch {
  position: absolute;
  top: 24px;
  left: 20px;
  margin: 0;
  border-top: 6px solid #ff3fb4;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 0;
  padding: 0;
  width: 0;
  height: 0;
}
body.win .notch {
  top: 20px;
}
.tooltip {
  position: absolute;
  z-index: 1339;
  display: block;
  background: #ff3fb4;
  color: white;
  padding: 3px 6px 4px 5px;
  display: none;
  white-space: nowrap;
}
.top .notch {
  border-top: 0;
  border-bottom: 6px solid #ff3fb4;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: -6px;
}
#places {
  margin-top: 10px;
  opacity: 1;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
#places.inactive {
  display: none;
}
#place-title .title-text {
  display: inline-block;
  width: 290px;
  position: relative;
  height: 34px;
  cursor: text;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#place-title {
  display: none;
}
.radial #place-title {
  display: block;
}
#place-title input {
  width: 282px;
  position: absolute;
  top: 0;
  font-size: 21px;
  padding: 4px 3px 3px;
  margin: 0;
}
body.firefox #place-title #input {
  margin: 3px;
}
#place-title:hover .title-text {
  background-color: #eee;
  cursor: auto;
}
#place-title.inactive:hover .title-text {
  background-color: #fff;
}
#place-title .title-edit {
  display: none;
  background-color: #ff3fb4;
  float: right;
  padding: 0 5px;
  color: white;
  cursor: pointer;
}
#place-title:hover .title-edit,
#place-title.active .title-edit {
  display: inline-block;
}
#place-title.inactive:hover .title-edit {
  display: none;
  cursor: auto;
}
#places ul {
  max-height: 320px;
  padding: 0 10px;
  overflow-y: auto;
}
#places ul li:first-child {
  margin-top: 10px;
}
#places ul li:last-child {
  margin-bottom: 10px;
}
.place {
  color: #808080;
  margin: 2px 0;
  padding: 1px 0;
  width: 308px;
}
.print .place {
  width: auto;
}
.place input {
  color: gray;
  padding: 1px;
  border: 1px solid gray;
  margin: -2px 0;
  width: 237px;
  font-size: 13px;
}
.place .title {
  width: 284px;
  display: inline-block;
  cursor: text;
}
.roadtrip .place .title {
  cursor: move;
}
.place .place-text {
  width: 241px;
  padding: 2px;
  display: inline-block;
}
body.ie .place .place-text,
body.win .place .place-text,
body.firefox .place .place-text {
  width: 232px;
}
.place:hover .place-text {
  color: black;
  background-color: #eee;
}
.place.highlight {
  color: #ff3fb4;
}
.place .place-delete,
.place .place-edit {
  display: none;
  padding: 1px 5px 3px 5px;
  background-color: #ff3fb4;
  cursor: pointer;
  color: white;
  float: right;
}
.place:hover .place-delete,
.place:hover .place-edit,
.title.active .place-delete,
.title.active .place-edit {
  display: inline;
}
.place .mode span {
  padding: 1px 5px 3px 5px;
  background-color: #808080;
  cursor: pointer;
  color: white;
  margin-right: 2px;
}
.place .mode span:hover {
  background-color: #ff3fb4;
}
.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  /*.transition(right);*/

}
body.ie .frame div {
  overflow: hidden;
}
.view .frame {
  width: 1000px;
  right: 0;
}
/*.edit .frame {
    right: 0;
    .transition(right);
    border-left: 1px solid @borderGrey;
}*/
#attribution {
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.6);
  right: 0;
  padding: 2px;
  color: #808080;
  opacity: .7;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
#attribution a {
  color: #808080;
}
.ie8 #attribution {
  background-color: white;
}
.view #attribution,
.edit #attribution {
  opacity: 1;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
.account #attribution,
.checkout #attribution,
.review #attribution {
  opacity: 0;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
.map .layer {
  opacity: .1;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
.view .map .layer,
.edit .map .layer,
.postcard .map .layer {
  opacity: .3;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
.account .map .layer,
.checkout .map .layer,
.review .map .layer {
  opacity: 0;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
.print .map .layer {
  opacity: .1;
}
.render {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
.account .render,
.checkout .render,
.review .render {
  opacity: 1;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
/*.options{
    position: absolute;
    width: 139px;
}
.options.left{
    top: 255px;
}
.options.right{
    left: 221px;
    top: 257px;
}*/
.half,
.two-third,
.one-third {
  float: left;
  position: relative;
}
.half {
  width: 50%;
}
.two-third {
  width: 626px;
  margin-right: 20px;
}
.one-third {
  width: 313px;
}
.color-img {
  position: absolute;
  right: 0;
  display: none;
}
#color-list li:hover .color-img,
#color-list .selected .color-img {
  display: inline;
}
.color-img img {
  border: 1px solid #e6e6e6;
}
/*.ready .options.left, .ready .options.right {
    position: relative;
    top: auto;
    left: auto;
    margin: 20px 0 40px;
    display: inline-block;
}
.ready .options.left {
    float: left;
}
.ready .options.right {
    float: right;
}*/
#rotate {
  width: 313px;
  height: 297px;
}
.radial #rotate-help {
  display: none;
}
.rotate-arrow {
  position: absolute;
  font-size: 40px;
  top: 240px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}
#rotate-cw {
  right: 270px;
}
#rotate-ccw {
  right: 10px;
}
#rotate-help {
  position: absolute;
  left: 220px;
  top: 120px;
  width: 124px;
  color: #aaa;
  border: 1px solid #e6e6e6;
  padding: 5px 5px 5px 8px;
}
#rotate-help .notch {
  top: 36px;
  left: -12px;
  margin: 0;
  border-top: 12px solid transparent;
  border-left: 0;
  border-right: 12px solid white;
  border-bottom: 12px solid transparent;
  padding: 0;
  width: 0;
  height: 0;
}
#rotate-help .border-notch {
  border-right-color: #e6e6e6;
  left: -13px;
}
body.firefox.win #rotate-help .border-notch {
  left: -12px;
}
/*#product, #materials, #account, #checkout, #review, #view, #display {
    padding: 20px;
    min-height: 560px;
}*/
/*#product {
    right: 400px;
    .transition(right);
}
.edit #product, .view #product {
    right: -400px;
    .transition(right);
}
.product #product {
    right: 0;
    .transition(right);
}*/
.ring-preview-frame {
  width: 21px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateX(20deg) rotateY(0deg) rotateZ(45deg) translate3d(0px, 0px, 0px);
  -webkit-transform: rotateX(20deg) rotateY(0deg) rotateZ(45deg) translate3d(0px, 0px, 0px);
  position: absolute;
  top: 95px;
  left: 190px;
}
#final-ring .frame {
  position: relative;
  height: 300px;
}
#wrapper-ring:hover .strip {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
.strip {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-animation: spin 15s infinite linear;
  -webkit-animation: spin 15s infinite linear;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.strip div {
  position: absolute;
  background: -webkit-canvas(ring-preview);
  height: 150px;
  width: 21px;
  opacity: 1;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(-360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
#product {
  height: 860px;
}
.radial #product {
  height: 490px;
}
.wrapper {
  margin: 0 9px 5px 0;
  float: left;
  width: 300px;
  height: 365px;
  border: 2px solid white;
  padding: 5px;
  cursor: pointer;
  position: relative;
}
#product-preview .wrapper.last {
  margin-right: 0;
}
.wrapper:hover {
  border-color: #808080;
}
.wrapper.selected {
  border-color: #ff3fb4;
}
.wrapper.selected .important {
  color: #ff3fb4;
}
.wrapper svg,
.wrapper .ring-frame {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
#product-preview p {
  margin-left: 5px;
  font-size: 22px;
}
#product-preview .price {
  float: right;
  color: #808080;
}
#product-preview p.note {
  font-size: 14px;
  line-height: 18px;
}
#preview-coasters image:nth-child(even) {
  -webkit-transform: rotateX(-50deg) scale(0.425) translate(68px, 226px);
}
#product-preview p.cufflinks {
  text-align: center;
  margin-top: 40px;
  border: 1px solid #8f8f8f;
  width: 270px;
  margin: 0 auto;
  padding: 1px;
  cursor: pointer;
  font-size: 12px;
}
#product-preview p.cufflinks:hover {
  border-color: #000;
}
.tri {
  border-width: 40px;
  border-color: #808080 transparent transparent #808080;
  border-style: solid;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  height: 0;
  width: 0;
}
.wrapper:hover .tri,
.wrapper.selected .tri {
  border-color: #ff3fb4 transparent transparent #ff3fb4;
}
.triangle {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 23px;
  left: 12px;
  z-index: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-transform: rotate(315deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(315deg);
  -webkit-transform-origin: 50% 50%;
  -o-transform: rotate(315deg);
  -o-transform-origin: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
}
#save-and-view {
  position: absolute;
  right: 20px;
  margin: 0;
  background-color: #808080;
}
.social-media {
  clear: both;
  padding-top: 31px;
}
.share-facebook,
.share-twitter,
.view .share-pinterest {
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 12px;
  color: #333;
  background-color: #EEE;
  background-image: -moz-linear-gradient(top, #ffffff, #dedede);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dedede));
  background-image: -ms-linear-gradient(top, #ffffff, #dedede);
  background-image: linear-gradient(top, #ffffff, #dedede);
  background-image: -o-linear-gradient(top, #ffffff, #dedede);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 2px 5px 2px 23px;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
}
.view .share-facebook,
.view .share-twitter,
.view .share-pinterest {
  font-size: 14px;
  border-radius: 0;
  padding: 4px 8px 4px 27px;
  display: block;
  margin-bottom: 5px;
}
.share-facebook i {
  background-image: url(../images/social/facebook.png);
  background-position: 92% 50%;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 4px;
}
.view .share-facebook i {
  top: 5px;
  left: 6px;
}
.share-twitter i {
  background-image: url(../images/social/larry.gif);
  height: 16px;
  width: 16px;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 4px;
}
.share-pinterest i {
  background-image: url(../images/pinterest.png);
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 6px;
}
.view .share-twitter i {
  top: 5px;
  left: 7px;
}
#materials {
  height: 460px;
}
#add-ons {
  height: 540px;
}
.add-on-header {
  font-size: 22px;
}
#final-rotate,
#final-ring {
  display: none;
}
#ring-range {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 300px;
  height: 0px;
  background-color: #808080;
  border: none;
  margin-top: 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ff3fb4;
  border: 1px solid white;
}
#review {
  color: #808080;
}
#review .review-field {
  text-transform: capitalize;
  color: black;
  margin-right: 30px;
}
#review .review-field.inactive {
  font-style: italic;
  text-transform: lowercase;
  color: #ff3fb4;
}
/*.edit #materials, .view #materials, .product #materials {
    right: -400px;
    .transition(right);
}
.make #materials, .readymade #materials{
    right: 0px;
    .transition(right);
}
.account #materials, .checkout #materials, .review #materials {
    right: 400px;
    .transition(right);
}*/
/*.readymade #readymade-desc {
    color: @grey;
}
.readymade #readymade-desc br {
    font-size: 1.3em;
}
.readymade #readymade-type {
    color: @pink;
}*/
/*#account {
    right: -400px;
    .transition(right);
}
.account #account {
    right: 0px;
    .transition(right);
}
.checkout #account, .review #account {
    right: 400px;
    .transition(right);
}
.make #account {
    right: -400px;
    .transition(right);
}*/
#account input {
  float: right;
  width: 260px;
}
#account input.button {
  border: none;
  background-color: #ff3fb4;
  font-size: 20px;
  width: auto;
}
#account p.note {
  margin: 5px 0;
}
#account #inline-signin {
  margin-bottom: 60px;
}
#checkout {
  height: 620px;
  /*    right: -400px;
    .transition(right);*/

}
/*.checkout #checkout {
    right: 0;
    .transition(right);
}*/
#shipping-destination {
  height: 28px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 60px;
}
p.note {
  color: #8f8f8f;
  clear: both;
  font-size: 12px;
  line-height: 14px;
  font-family: Helvetica, Arial, sans-serif;
}
#checkout p.note {
  margin: 10px 0 0 0;
}
.form-row {
  min-height: 30px;
  width: 400px;
}
.form-row label {
  line-height: 30px;
}
.ship-row input {
  width: 290px;
}
.ship-row .short-input {
  width: 130px;
  margin-left: 100px;
}
.international .short-input {
  float: right;
}
.country-dropdown {
  clear: both;
  margin: 2px;
}
.country-dropdown select {
  margin: 6px 0 0 0;
  float: right;
}
.short-label {
  position: absolute;
}
.city-input {
  width: 204px;
  /*margin: 0 31px 0 10px;*/

}
body.firefox .city-input {
  width: 207px;
}
body.firefox.win .city-input {
  width: 170px;
}
body.ie .city-input {
  width: 190px;
}
body.ie8 .city-input {
  width: 170px;
}
#checkout input {
  /*margin-left: 10px;*/

}
#checkout input.right,
#checkout span.right {
  float: right;
}
#shipping-form.international .domestic {
  display: none;
}
#shipping-form.domestic .international {
  display: none;
}
#account label.error,
#checkout label.error {
  color: #ff3fb4;
  display: block;
  font-size: 12px;
  line-height: 19px;
  font-family: Helvetica, Arial, sans-serif;
  clear: both;
}
#account input.error,
#checkout input.error {
  border-color: #ff3fb4;
}
/*#review {
    right: -400px;
    .transition(right);
}
.review #checkout {
    right: 400px;
    .transition(right);
}
.review #review {
    right: 0;
    .transition(right);
}*/
#review p {
  color: #808080;
}
#review-shipping span {
  margin-right: 10px;
  color: #808080;
}
.review-order-block {
  float: left;
  width: 170px;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1;
}
.postcard-form {
  clear: both;
}
#postcard-note-form {
  width: 100%;
  margin-top: 5px;
  height: 70px;
}
.firefox #postcard-note {
  height: 60px;
}
#view {
  position: absolute;
  right: 400px;
  transition: right 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: right 0.6s;
  -o-transition: right 0.6s;
}
.edit #view {
  right: -400px;
  transition: right 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: right 0.6s;
  -o-transition: right 0.6s;
}
.view #view {
  top: 20px;
  left: 20px;
  right: auto;
  z-index: 1;
  padding: 0;
  width: 250px;
  min-height: 0;
}
#view p,
#view span,
#view ul {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3px 10px;
}
.ie8 #view p,
.ie8 #view span,
.ie8 #view ul {
  background-color: white;
}
#view ul {
  padding-top: 10px;
  display: none;
}
#view li {
  padding-left: 20px;
  text-indent: -20px;
}
#view h2 {
  margin-bottom: 15px;
  width: 550px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#view h2 span {
  float: left;
}
#view .show-places {
  cursor: pointer;
}
#view.radial .show-places,
#view.radial #display-places {
  display: none;
}
.view .share-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.display #display {
  right: 0;
}
#display-places {
  max-height: 410px;
  overflow-y: auto;
}
.make-wrapper {
  margin-top: 50px;
  position: relative;
}
.ready .make-wrapper {
  margin-top: 0;
}
.section h2 {
  margin: 0 0 10px 0;
}
/*.ready .make-wrapper h2 {
    margin-top: 0;
}
.make-wrapper li {
    color: @grey;

    .hoverColor(black);

    &.selected {
        color: @pink;
    }
}*/
.make-option {
  display: none;
}
.make-option p {
  color: #808080;
}
#object-list span {
  float: right;
  display: none;
}
#object-list li:hover span,
#object-list li.selected span {
  display: inline;
}
#material-list {
  margin: 0 -10px;
}
#material-list li {
  cursor: pointer;
  font-size: 22px;
  border: 2px solid white;
  padding: 6px;
  color: #808080;
  width: 33.3%;
  float: left;
  height: 170px;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
#material-list li:hover {
  border: 2px solid #808080;
}
#material-list li.selected,
#material-list li.selected:hover {
  border: 2px solid #ff3fb4;
  color: #ff3fb4;
}
#material-list li.inactive {
  opacity: .3;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  pointer-events: none;
}
#material-list li .price {
  float: right;
}
#material-list .img {
  width: 100%;
  height: 120px;
  background-color: #eee;
  margin-bottom: 2px;
}
#review h2 {
  margin: 15px 0 5px;
}
#review p {
  margin: .25em 0;
}
/*.firefox #review h2 {
    margin-top: 5px;
}
.firefox #review p {
    margin: 0;
}*/
.nav {
  background-color: #808080;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color 0.5s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.nav.next {
  cursor: default;
}
.nav:hover {
  background-color: #1fcaff;
}
.nav.next:hover {
  background-color: #808080;
}
.nav.active,
.nav.next.active:hover {
  background-color: #ff3fb4;
  cursor: pointer;
}
.nav:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.nav a {
  color: white;
}
.back {
  position: absolute;
  left: 20px;
  top: 20px;
}
/* display.html actions, order, edit, share */
.view .item-actions {
  font-size: 14px;
  float: left;
  margin-top: 6px;
  width: auto;
}
.view .item-actions .nav {
  float: right;
  margin-left: 12px;
}
.view .back {
  left: auto;
  right: 130px;
}
.exit-buttons {
  width: 380px;
  position: absolute;
  bottom: 0;
}
#finish-button,
#save-button,
#update-button,
#cancel-button,
#save-progress-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#finish-button {
  right: auto;
  left: 280px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
#finish-button.active {
  opacity: 1;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
#save-button {
  right: 125px;
}
/* save button on the /make page, which lets you save without going to purchase */
#save-progress-button {
  right: 250px;
}
#cancel-button {
  right: auto;
  left: 0px;
}
#forceLogin {
  background-color: #808080;
  transition: background-color 0.5s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
#forceLogin:hover {
  background-color: #1fcaff;
}
#checkout-button,
#review-button {
  position: relative;
  float: right;
  font-size: 20px;
}
#checkout-button {
  margin-top: 40px;
}
#review-button {
  margin-top: 60px;
  border: none;
}
#submit-button,
#add-to-cart {
  border: none;
  font-size: 22px;
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: 0;
}
#submit-button.inactive,
#add-to-cart.inactive {
  background-color: #808080;
  cursor: auto;
  pointer-events: none;
}
/*
    Map Object Styling
*/
/*#meshu-container path, #mini-delaunay path, #rotate-ui path, .gallery .meshu-svg path {*/
path {
  fill: none;
  stroke: black;
  pointer-events: none;
  stroke-width: 8;
  stroke-linejoin: round;
  transition: stroke-width 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: stroke-width 0.6s;
  -o-transition: stroke-width 0.6s;
}
.radial path {
  stroke-width: 0;
}
.roadtrip path {
  stroke-width: 5;
}
.roadtrip .straight {
  stroke-opacity: .5;
}
.print path {
  stroke-width: 1;
}
.print path.air {
  stroke-dasharray: 3 3;
}
circle {
  fill: #ff3fb4;
  fill-opacity: 0;
}
.roadtrip circle {
  fill-opacity: 1;
}
.print circle {
  fill-opacity: 1;
}
.circleFrame {
  stroke: black;
  fill: none;
}
.edit circle:hover,
circle.highlight,
.edit .inactive circle:first-child {
  fill-opacity: 1;
  stroke: white;
  stroke-width: 2;
  cursor: pointer;
}
.radial #delaunay-ui circle,
.radial circle:hover {
  fill-opacity: 0;
  cursor: default;
}
.hidden,
.rotate-ui,
#hidden {
  display: none;
}
.account .delaunay.earrings path,
.checkout .delaunay.earrings path,
.review .delaunay.earrings path,
.account .delaunay.necklace path,
.checkout .delaunay.necklace path,
.review .delaunay.necklace path {
  stroke-width: 20;
  transition: stroke-width 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: stroke-width 0.6s;
  -o-transition: stroke-width 0.6s;
}
.account .delaunay.cufflinks path,
.checkout .delaunay.cufflinks path,
.review .delaunay.cufflinks path,
.account .delaunay.pendant path,
.checkout .delaunay.pendant path,
.review .delaunay.pendant path {
  stroke-width: 35;
  transition: stroke-width 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: stroke-width 0.6s;
  -o-transition: stroke-width 0.6s;
}
.mini-delaunay path,
#product-preview path {
  stroke-width: 35;
}
#rotate:hover .rotate-ui {
  display: block;
}
.rotate-ui circle {
  fill-opacity: 1;
  cursor: pointer;
  stroke-width: 50;
  stroke: transparent;
}
.rotate-ui path {
  stroke: #999;
  stroke-dasharray: 20, 15;
}
.rotate-ui.pendant path {
  stroke-width: 20;
}
/* radial */
.radial #place-title {
  color: #808080;
  height: 40px;
}
.radial #place-title:hover {
  color: black;
}
.fill-option {
  width: 75px;
  height: 75px;
  display: inline-block;
  float: left;
  cursor: pointer;
  border: 5px solid white;
  padding: 2px;
}
.fill-option img {
  opacity: .5;
}
.fill-option.active {
  border: 5px solid #808080;
}
.fill-option:hover {
  border: 5px solid black;
}
.fill-option:nth-child(even) {
  margin-right: 20px;
}
/* make landing page choice */
#make-landing {
  position: absolute;
  top: 80px;
  left: 160px;
  width: 640px;
  height: 400px;
  z-index: 4;
  background: white;
  border: 1px solid #e6e6e6;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
}
.content-banner {
  margin: auto;
  width: 640px;
  text-align: center;
  font-size: 34px;
  padding: 10px 0 20px 0;
}
.splitimages {
  float: left;
  width: 46%;
  margin: 0 2% 0;
}
.splitimages img {
  width: 100%;
}
.splitimages img:hover {
  opacity: .9;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.splitimages .button {
  width: 100%;
  margin: -3px 0 0 0;
  padding: 3px 0;
  display: block;
  font-size: 20px;
}
/* mini meshu */
#maps {
  padding: 0 0 0 15px;
}
.mini-meshu {
  display: inline-block;
  width: 306px;
  height: 306px;
  margin: 0 8px 10px 0;
  border: 5px solid white;
  position: relative;
}
.mini-meshu:hover {
  cursor: pointer;
  border: 5px solid #1fcaff;
}
.mini-meshu .map .layer {
  opacity: 1;
}
.mini-meshu .title {
  z-index: 2;
  padding: 5px;
  width: 296px;
  font-size: 18px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e6e6e6;
}
.mini-meshu .ie8 .title {
  background-color: white;
}
.mini-meshu a {
  width: 100%;
  height: 100%;
  display: block;
}
#shop,
#gallery {
  margin-left: 15px;
}
#shop li.object,
#gallery li.object {
  float: left;
  width: 306px;
  height: 306px;
  margin: 0 10px 10px 0;
  border: 5px solid white;
  position: relative;
}
#shop li.object a,
#gallery li.object a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#shop li.object img,
#gallery li.object img {
  width: 100%;
  height: 100%;
}
#shop li.object .text-block,
#gallery li.object .text-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  color: #808080;
  border-top: 1px solid #e6e6e6;
}
#shop li.object .title,
#gallery li.object .title {
  font-size: 18px;
}
#shop li.object .price,
#gallery li.object .price {
  float: right;
}
#shop li.object:hover {
  border: 5px solid #1fcaff;
}
#shop li.object:hover .text-block {
  color: black;
}
/* Map UI */
.mapui {
  opacity: 0;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
.edit .mapui {
  opacity: 1;
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: opacity 0.6s;
  /*-moz-transition: @property @time;*/

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
}
.edit .mapui #zoomin,
.edit .mapui #zoomout {
  margin: 5px;
  width: 23px;
  height: 23px;
  opacity: .75;
  display: block;
  cursor: pointer;
  background: #808080;
  position: relative;
}
.edit .mapui #zoomin:hover,
.edit .mapui #zoomout:hover {
  opacity: 1;
}
.edit .mapui #zoomin {
  background-image: url(../images/ui/zoomin.png);
}
.edit .mapui #zoomout {
  background-image: url(../images/ui/zoomout.png);
}
.edit .mapui div:hover {
  pointer: cursor;
}
/*
    cart page
*/
.dollar {
  font-size: 80%;
  margin-right: 2px !important;
  float: none !important;
  color: #808080;
}
.theta {
  display: none;
}
.cart-wrapper {
  padding: 20px;
}
#cart {
  width: 100%;
  padding: 20px;
  font-size: 22px;
  border-collapse: collapse;
}
#cart tr {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
#cart .meshu-svg {
  width: 100px;
  height: 100px;
  border: 1px solid #e6e6e6;
}
#cart .headings {
  color: #808080;
  font-size: 16px;
}
#cart .headings td {
  padding-bottom: 10px;
}
#cart .cart-row td {
  padding-top: 7px;
  text-transform: capitalize;
}
#cart .button {
  padding: 3px 5px;
  font-size: 14px;
  width: 100px;
  display: inline-block;
  line-height: 20px;
  float: right;
  background-color: white;
  border: 1px solid #8f8f8f;
  color: #808080;
}
#cart .cart-remove {
  background-color: #ff3fb4;
  color: white;
  display: inline-block;
  padding: 2px 8px;
  visibility: hidden;
  float: right;
  font-size: 18px;
  line-height: 21px;
}
#cart .cart-row:hover .cart-remove {
  visibility: visible;
}
.total-wrapper {
  width: 100%;
}
.total-inside {
  width: 33%;
  float: right;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 20px;
  padding: 0 0 20px 20px;
  box-sizing: border-box;
}
.total-wrapper span {
  width: 140px;
  float: right;
  text-align: right;
  margin-right: 60px;
}
.total-wrapper h2 {
  font-size: 24px;
  line-height: 36px;
}
.total-wrapper .discount span {
  color: #ff3fb4;
}
.total-wrapper .total {
  margin-top: 10px;
}
.action-buttons {
  clear: both;
  margin: 200px 20px 20px 0;
  height: 50px;
}
.action-buttons .button {
  float: right;
  font-size: 30px;
  padding: 5px 11px;
  margin-left: 10px;
}
/*
    checkout page
*/
.review #cart .headings {
  font-size: 14px;
}
.review #cart .meshu-svg {
  width: 40px;
  height: 40px;
  border: none;
}
.review #cart .meshu-svg path {
  stroke: #808080;
}
.review #cart {
  color: #808080;
  font-size: 18px;
}
.review #cart .cart-row td {
  padding-top: 3px;
}
#checkout {
  margin-top: 10px;
}
.section .review-header {
  margin-top: 20px;
  font-size: 22px;
}
.coupon {
  width: 50%;
  position: absolute;
  top: 320px;
  right: 0;
}
.coupon h2 {
  float: left;
  margin-right: 15px;
}
.coupon #coupon-code {
  float: left;
  margin-top: 3px;
}
#payment-form,
.half {
  height: 100%;
}
#coupon-message {
  display: none;
  color: #808080;
  margin-right: 3px;
  line-height: 30px;
}
#review-total {
  width: 50%;
  position: absolute;
  top: 390px;
  padding-right: 20px;
  right: 0px;
  box-sizing: border-box;
}
#review-total #subtotal-price {
  padding-top: 15px;
  border-top: 1px solid black;
}
#review-total h2 {
  margin: 4px 0;
  width: 100%;
  color: #808080;
}
#review-total #total-price {
  color: black;
}
#review-total span {
  float: right;
}
/*
    gallery display
*/
#usermade li.object {
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  display: block;
  float: left;
  border: 1px solid #e6e6e6;
  width: 251px;
  height: 290px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* hover for gallery item */

}
#usermade li.object .image {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -1;
}
#usermade li.object a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#usermade li.object img {
  width: 100%;
  max-height: 280px;
}
#usermade li.object svg {
  pointer-events: none;
}
#usermade li.object .delaunay {
  display: none;
}
#usermade li.object .blank {
  background-color: #e6e6e6;
  border: 5px solid #e6e6e6;
}
#usermade li.object .description,
#usermade li.object .title {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #808080;
}
#usermade li.object .title {
  font-size: 18px;
  bottom: 10px;
}
#usermade li.object .clicknew {
  top: 30px;
  left: 35px;
  width: 180px;
  font-size: 28px;
  position: absolute;
  text-align: center;
}
#usermade li.object:hover {
  border: 1px solid #1fcaff;
}
#usermade li.object:hover .image {
  border: 5px solid #1fcaff;
}
#usermade li.object:hover .blank {
  border: 5px solid #ff3fb4;
}
#usermade li.object:hover .description,
#usermade li.object:hover .title {
  color: black;
}
/* fix the last item in every row in the store / gallery views */
li.object:nth-child(4n) {
  width: 251px;
  border-right: none;
}
li.last-object {
  border-bottom: 0px;
}
#maps .meshu-svg {
  border: 1px solid #e6e6e6;
  margin: -1px;
}
#maps .map {
  opacity: .3;
}
body.ie #maps .mini-meshu div {
  overflow: hidden;
}
#maps .mini-meshu:hover .meshu-svg {
  border: none;
  margin: 0;
}
#img-thumbs {
  padding: 10px 0 10px;
  margin-left: -5px;
}
#img-thumbs img,
#img-thumbs svg {
  cursor: pointer;
  /*margin: 0 4px 5px 0;*/

  margin: 0 -2px 5px 0;
  display: inline-block;
  border: 5px solid white;
}
#img-thumbs img:hover,
#img-thumbs svg:hover {
  border: 5px solid #1fcaff;
}
#img-thumbs rect {
  stroke: #e6e6e6;
  fill: none;
}
.other-view {
  position: absolute;
}
.other-view.z-1 {
  z-index: 1;
}
.other-view.z-2 {
  z-index: 2;
}
/* about page */
.about-link {
  color: #ff3fb4;
}
.about {
  width: 460px;
  float: left;
  margin-top: 50px;
}
.about a,
.paid a {
  color: #ff3fb4;
}
.about img {
  width: 240px;
  float: left;
  padding: 0 10px 0 0;
}
.about.right {
  float: right;
  text-align: right;
}
.about.right img {
  float: right;
  padding: 0 0 0 10px;
}
/* blog */
#tumblr_controls {
  display: none;
}
/* orders page */
.status-list {
  height: 100px;
  margin-bottom: 10px;
}
.status-list path {
  stroke-width: 15;
}
.status-block {
  float: left;
  width: 54px;
  height: 54px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 17px 18px 8px 18px;
  margin-right: 10px;
  cursor: pointer;
}
.status-information {
  float: left;
  width: 650px;
  margin-left: 10px;
  height: 100px;
}
.status-information .link a {
  text-decoration: underline;
}
.status-information a:hover {
  color: #ff3fb4;
}
.status-meshu {
  float: left;
  border: 1px solid #e6e6e6;
  width: 80px;
  height: 78px;
}
.order-status-updater {
  color: black;
  border-color: black;
  background-color: #ddd;
  cursor: pointer;
}
.instructions {
  color: #ff3fb4;
}
.OR,
.postcard-false {
  background-color: #FF0000;
}
.PR {
  background-color: #FF6600;
}
.SE {
  background-color: #FFFF00;
}
.RE {
  background-color: #FFAA00;
}
.PA {
  background-color: #66FF66;
}
.SH,
.postcard-true {
  background-color: #00FF66;
}
/*
    Postcard specific css
*/
.postcard {
  font-family: 'Helvetica';
  font-weight: normal;
  line-height: 1.5;
  color: #808080;
  /* for the back of the postcard */

}
.postcard #content {
  /*width: 1100px;
        height: 733px;*/

  width: 1680px;
  height: 1275px;
}
.postcard .frame {
  /*width: 1100px;
        height: 733px;*/

  width: 1680px;
  height: 1275px;
  right: 0;
}
.postcard path {
  stroke-width: 10;
}
.postcard #attribution {
  display: none;
}
.postcard .order-note-outer {
  display: table;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}
.postcard .order-note-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.postcard .order-note-inner p {
  font-size: 45px;
  padding: 0 350px;
}
.postcard #postcard-logo {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 140px;
  bottom: 135px;
  font-size: 24px;
}
.notes {
  margin: 20px;
}
.notes li {
  margin-bottom: 20px;
}
