/*
    Mixins
*/
.transition (@property: opacity, @time: .6s) {
    transition: @property @time;
    /*-moz-transition: @property @time;*/
    -webkit-transition: @property @time;
    -o-transition: @property @time;
}

.shadow (@distance: 300px, @color: rgba(0,0,0, 0.1)) {
  -webkit-box-shadow: 0px 0px @distance @color;
     -moz-box-shadow: 0px 0px @distance @color; 
          box-shadow: 0px 0px @distance @color; 
}

@borderGrey: #e6e6e6;
@grey: #808080;
@lightGrey: #8F8F8F;
@pink: #FF3FB4;
@blue: #1fcaff;

@pageWidth: 1000px;


/* main page styles */
body {
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

h2.page-header {
    padding-left: 20px;
    margin: 20px 0;
}

h2.content-header {
    margin: 50px 0 20px 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

input {
    color: @grey;
    padding: 4px;
    border: 1px solid @grey;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 13px;
}

img {
    border: none;
}

/* for map tiles initially, but let's see how annoying it is for all the images */
image {
    .transition();
}

#top {
    width: @pageWidth;
    margin: 30px auto 0;
    position: relative;
}

h1#meshu {
    margin: 0;
    font-weight: normal;
}

#nav {
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 18px;
}

#nav li {
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}
#nav li:hover, #nav li:hover a {
    color: @pink;
}
#nav li.inactive {
    display: none;
}

#login-error {
    display: none;
}

#login-form {
    display: none; 
    position: absolute; 
    z-index: 3; 
    top: 150px;
    right: 310px; 
    width: 380px; 
    min-height: 205px;
    padding-top: 15px;
    background: white;
    border: 1px solid @borderGrey;
    .shadow(200px);
}
#login-form h2 {
    padding: 0 0 10px 17px;
}
#login-form ul {
    border-bottom: 1px solid @borderGrey;
    height: 28px;
    padding-left: 20px;
}
#login-form li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid @borderGrey;
    margin: 0 -3px 0;
    color: @grey;
    background-color: white;
    cursor: pointer;
}
#login-form.signin .account, #login-form.account .signin {
    display: none;
}
#login-form li:hover {
    color: @pink;
}
#login-form li.active, #login-form li.active:hover {
    border-bottom: 1px solid white;
    color: black;
}
#login-form form {
    margin-top: 15px;
}
#login-form .login-row {
    display: block;
    width: 320px;
    margin-left: 30px;
    min-height: 30px;
}
#login-form label {
    width: 70px;
    line-height: 30px;
}
#login-form label.error {
    color: @pink;
    width: auto;
    display: block;
    font-size: 12px;
    line-height: 19px;
    font-family: Helvetica, Arial, sans-serif;
    clear: both;
}
#login-form input {
    width: 225px;
    margin-left: 20px;
    float: right;
}
#login-form input.error {
    border-color: @pink;
}
#login-form input.button {
    border: none;
}
#login-form .login-buttons {
    margin-top: 40px;
    position: relative;
    height: 20px;
}
#login-form .login-cancel {
    background-color: @grey;
    position: absolute;
    bottom: 15px;
    right: 90px;
}

#form-account p, #form-signin p {
    margin: 15px 20px 0 29px;
    color: @grey;
    font-size: 12px;
}

#login-form.account .login-cancel {
    right: 150px;
}
#login-form #login-signin, #login-form #login-account {
    background-color: @pink;
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

#reset-password-form {
    width: 400px;
}

#reset-password {
    background-color: @pink;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
}

.solo-form input.aligned {
    float: right;
    /*margin-top: -5px; */
    /*position: absolute; 
    left: 250px; 
    right:590px;*/
}

.solo-form label {
    line-height: 30px;
}

.solo-form label.error {
    clear: both;
    font-size: 12px;
    color: @pink;
    display: block;
}

.solo-form input.error {
    border-color: @pink;
}

.solo-form .form-row {
    clear: both;
    min-height: 33px;
}

#login-form #login-account {
    width: 110px;
}
#login-form #login-signin{
    width: 50px;
}

#banners {
    height: 384px;
    width: 960px;
    margin: 20px;
    position: relative;
    border: 1px solid lightgrey;
}

.bleed {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#main h2.big {
    font-size: 46px;
    text-align: center;
    margin-top: 45px;
}

#diagram {
    margin: 0 44px 50px;
}
#diagram li {
    display: inline-block;
    width: 301px;
    height: 240px;
    margin: 0;
    position: relative;
}
#diagram li p {
    text-align: center;
    font-size: 20px;
}

#main form {
    margin: 50px 0;
    text-align: center;
}
#main input.button {
    border: none;
}

#get-started {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin: 30px auto 50px;
}
.option {
    width: 305px;
    background-color: @grey;
    color: white;
    font-size: 36px;
    padding: 10px 0;
    display: inline-block;
    margin: 0 10px;
}
.option.pink {
    background-color: @pink;
}


#content {
    width: @pageWidth;
    margin: 0 auto 30px auto;
    border: 1px solid @borderGrey;
    min-height: 600px;
    position: relative;
    overflow: hidden;
    .shadow();
    opacity: 1;
    .transition(opacity);
}

.inner-content {
    padding: 0 20px;
}

#edit-help {
    position: absolute;
    top: 100px;
    left: 190px;
    width: 580px;
    height: 280px;
    z-index: 4;
    background: white;
    border: 1px solid @borderGrey;
    padding: 20px;
    .shadow(100px);
    display: none;
}
#edit-help h2 {
    margin-bottom: 10px;
}
#edit-help img {
    border: 1px solid @borderGrey;
}
#edit-help .caption {
    width: 178px;
    display: inline-block;
}
#edit-help .right {
    margin-left: 19px;
}
#edit-help .title {
    margin-top: 25px;
}
#edit-help .ideas {
    color: @grey;
}
#edit-help #close-help {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    margin: 0;
}
#modal-bg {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .7;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#edit {
    padding: 20px;
    width: 360px;
    min-height: 560px;
    position: absolute;
    top: 0;
}
.edit #edit {
    left: 0;
    .transition(left);
}
.make #edit, .checkout #edit, .view #edit, .readymade #edit {
    left: -400px;
    .transition(left);
}

#search h2, #places h2 {
    margin: 0 0 5px;
}
#search input {
    border: 1px solid @blue;
}

.button {
    cursor: pointer;
    background-color: @blue;
    color: white;
    padding: 3px 5px;
    margin: 4px 0;
    text-align: center;
    display: inline;
}

.button.pink {
    background-color: @pink;
}

#cases {
    margin: 3px 0;
}
#cases p {
    color: @pink;
}
#cases li.title {
    margin-bottom: 5px;
}
.maybe-place {
    color: @grey;
    cursor: pointer;
}
.maybe-place:hover {
    color: black;
}

#place-hover {
    position: absolute;
    z-index: 1339;
    display: block;
    background: @pink;
    color: white;
    padding: 2px 5px;
    display: none;
    white-space: nowrap;
}
#place-hover.active {
    display: block;
}
.notch {
    position: absolute;
    top: 21px;
    left: 20px;
    margin: 0;
    border-top: 6px solid @pink;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.cases #places {
    opacity: 0;
    .transition(opacity);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index:-1;
}

#places {
    position: absolute;
    top: 130px;
    width: 360px;
    opacity: 1;
    .transition(opacity);
}
#place-number .title-text {
    display: inline-block;
    width: 290px;
    position: relative;
    height: 34px;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#place-number input {
    width: 282px;
    position: absolute;
    top: 0;
    font-size: 21px;
    padding: 4px 3px 3px;
    margin: 0;
}
#place-number:hover .title-text{
    background-color: #eee;
    cursor: auto;
}
#place-number.inactive:hover .title-text{
    background-color: #fff;
}
#place-number .title-edit{
    display: none;
    background-color: @pink;
    float: right;
    padding: 0 5px;
    color: white;
    cursor: pointer;
}
#place-number:hover .title-edit, #place-number.active .title-edit{
    display: inline-block;
}
#place-number.inactive:hover .title-edit{
    display: none;
    cursor: auto;
}

#places ul {
    height: 352px;
    overflow-y: auto;
}
.place {
    color: @grey;
    margin: 2px 0;
    padding: 1px 0;
    width: 278px;
}
.place input {
    color: gray;
    padding: 1px;
    border: 1px solid gray;
    margin: -2px 0;
    width: 207px;
    font-size: 13px;
}
.place .title {
    width: 252px;
    display: inline-block;
    cursor: text;
}

.place .place-text {
    width: 211px;
    padding: 2px;
    display: inline-block;
}
.place:hover .place-text {
    color: black;
    background-color: #eee;
}
.place.highlight {
    color: @pink;
}
.place .place-delete, .place .place-edit {
    display: none;
    padding: 1px 5px 3px 5px;
    background-color: @pink;
    cursor: pointer;
    color: white;
    float: right;
}
.place:hover .place-delete, .place:hover .place-edit,
.title.active .place-delete, .title.active .place-edit {
    display: inline;
}

.frame {
	width: 600px;
	height: 600px;
    position: absolute;
    z-index: 1;
    right: 400px;
    .transition(right);
}
.view .frame {
    width: 1000px;
    right: 0;
}
.edit .frame {
    right: 0;
    .transition(right);
}

.map .layer {
    opacity: .3;
    .transition(opacity);
}

.view .map .layer {
    opacity: .6;
    .transition(opacity);
}

.edit .map .layer {
    opacity: 1;
    .transition(opacity);
}

.checkout .map .layer, .review .map .layer {
    opacity: 0;
    .transition(opacity);
}

.options{
    position: absolute;
    width: 139px;
}
.options.left{
    top: 255px;
}
.options.right{
    left: 221px;
    top: 257px;
}
.color-img {
    position: absolute;
    right: 0;
    display: none;
}
#color-list li:hover .color-img {
    display: inline;
}
.color-img img {
    border: 1px solid @borderGrey;
}
.ready .options.left, .ready .options.right {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 20px;
    display: inline-block;
}
.ready .options.left {
    float: left;
}
.ready .options.right {
    float: right;
}
#rotate {
    width: 200px;
    height: 190px;
    margin-top: 15px;
}
#rotate-help {
    position: absolute;
    left: 220px;
    top: 120px;
    width: 124px;
    color: #aaa;
}
#rotate-help {
    border: 1px solid @borderGrey;
    padding: 5px 5px 5px 8px;
}
#rotate-help .notch {
    top: 38px;
    left: -12px;
    margin: 0;
    border-top: 12px solid transparent;
    border-left: 0;
    border-right: 12px solid white;
    border-bottom: 12px solid transparent;
    padding: 0;
    width: 0;
    height: 0;
}
#rotate-help .border-notch {
    border-right-color: @borderGrey; 
    left: -13px;
}

#product, #materials, #account, #checkout, #review, #view, #display {
    padding: 20px;
    width: 360px;
    min-height: 560px;
    position: absolute;
    top: 0;
}

#product {
    right: 400px;
    .transition(right);
}
.edit #product, .view #product {
    right: -400px;
    .transition(right);
}
.product #product {
    right: 0;
    .transition(right);
}
#product-preview {
    margin-top: 20px;
}
#product-preview svg {
    margin-bottom: 5px;
    border: 5px solid white;
    cursor: pointer;
}
#product-preview svg:hover {    
    border-color: @pink;
}
#product-preview span:nth-child(odd) {
    margin-right: 10px;
    margin-left: -5px;
    float: left;
}
#product-preview span:nth-child(even) {
    margin-right: -5px;
    float: right;
}

#forceLogin {
    position: absolute;
    bottom: 15px;
}

.edit #materials, .view #materials, .product #materials {
    right: -400px;
    .transition(right);
}
.make #materials, .readymade #materials{
    right: 0px;
    .transition(right);
}
.account #materials, .checkout #materials, .review #materials {
    right: 400px;
    .transition(right);
}
.readymade #readymade-desc {
    color: @grey;
}
.readymade #readymade-type {
    color: @pink;
}

#account {
    right: -400px;
    .transition(right);
}
.account #account {
    right: 0;
    .transition(right);
}
.checkout #account, .review #account {
    right: 400px;
    .transition(right);
}

#checkout {
    height: 560px;
    overflow-y: auto;
    right: -400px;
    .transition(right);
}
.checkout #checkout {
    right: 0;
    .transition(right);
}

p.note {
    color: @lightGrey;
    clear: both;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

#checkout p.note {
    margin: 10px 0 0 0;
}

#checkout .form-row {
    min-height: 30px;
}

#checkout label {
    line-height: 30px;
}

#checkout input {
    margin-left: 10px;
}
#checkout input.right, #checkout span.right {
    float: right;
}

#checkout label.error {
    color: @pink;
    display: block;
    font-size: 12px;
    line-height: 19px;
    font-family: Helvetica, Arial, sans-serif;
    clear: both;
}

#checkout input.error {
    border-color: @pink;
}

#review {
    right: -400px;
    .transition(right);
}
.review #checkout {
    right: 400px;
    .transition(right);
}
.review #review {
    right: 0;
    .transition(right);
}
.review-header {
    font-size: 18px;
}
#review p {
    color: @grey;
}
#review-shipping span {
    margin-right: 10px;
    color: @grey;
}
#coupon-message {
    display: none;
    color: @grey;
}

#view {
    right: 400px;
    .transition(right);
}
.edit #view {
    right: -400px;
    .transition(right);
}
.view #view {
    top: 20px;
    left: 20px;
    right: auto;
    z-index: 1;
    padding: 0;
    width: 250px;
    min-height: 0;
}
#view p, #view span, #view ul{
    background-color: rgba(255,255,255,.9);
    padding: 3px 10px;  
}
#view ul{
    padding-top: 10px;
    display: none;
}
#view li {
    padding-left: 20px;
    text-indent: -20px;
}
#view h2 {
    margin-bottom: 15px;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#view .show-places {
    cursor: pointer;
}

.display #display {
    right: 0;
}

#display-places {
    max-height: 410px;
    overflow-y: auto;
}

.make-wrapper {
    margin-top: 40px;
    position: relative;
}
.ready .make-wrapper {
    margin-top: 0;
}
.make-wrapper h2 {
    margin: 20px 0 5px 0;
}
.ready .make-wrapper h2 {
    margin-top: 0;
}
.make-wrapper li {
    color: @grey;

    &:hover {
        color: black;
    }

    &.selected {
        color: @pink;
    }
}

.make-option {
    display: none;
}
.make-option p {
    color: @grey;
}

.option-list li {
    cursor: pointer;
}

#object-list span {
    float: right;
    display: none;
}
#object-list li:hover span, #object-list li.selected span {
    display: inline;
}

#material-list {
    li .price {
        float: right;
        color: black;
        display: none;
    }

    li:hover .price {
        display: inline;
    }

    li.selected .price {
        display: inline;
        color: @grey;
    }
} 

#review {
    h2 {
        margin: 15px 0 5px;
    }
    p {
        margin: .25em 0;
    }
}

#review-total {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid black;
    width: 100%;
}

#review-total h2 {
    margin: 4px 0;
    width: 100%;
    color: @grey;
}

#review-total #total-price {
    color: black;
}

#review-total span {
    float: right;
}

#total {
    display: block;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 40px;
    padding-top: 10px;
    position: absolute;
    top: 370px;

    h2 {
        margin-top: 0;
    }
}
.ready #total {
    top: auto;
    clear: both;
    position: relative;
    margin-top: 160px;
}
#total-cost {
    float: right;
    font-size: 28px;
    color: @grey;
}

.nav {
    background-color: @grey;
    color: white;
    padding: 5px 10px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    .transition(background-color, .5s);
}
.nav.next {
    cursor: default;
}
.nav a {
    color: white;
}
.view .nav {
    z-index: 1;
}

.nav:hover {
    background-color: @blue;
}
.nav.next:hover {
    background-color: @grey;
}
.nav.active, .nav.next.active:hover {
    background-color: @pink;
    cursor: pointer;
}

.back {
    position: absolute;
    left: 20px;
    top: 20px;
}
.view .back {
    left: auto;
    right: 130px;
}

#finish-button, #save-button, #update-button, #cancel-button, #save-progress-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#finish-button {
    font-size: 20px;
    opacity: 0;
    .transition(opacity);
}
#finish-button.active {
    opacity: 1;
    .transition(opacity);
}

#save-button {
    right: 125px;
}

/* save button on the /make page, which lets you save without going to purchase */
#save-progress-button {
    right: 250px;
}

#cancel-button {
    right: auto;
    left: 20px;
}

#forceLogin {
    background-color: @grey;
    .transition(background-color, .5s);
}
#forceLogin:hover {
    background-color: @blue;
}

#checkout-button, #review-button {
    position: relative;
    float: right;
    font-size: 20px;
}
#review-button {
    margin-top: 20px;
    border: none;
}
#order-button {
    position: absolute;
    top: 20px;
    right: 20px;
}
#submit-button {
    border: none;
    font-size: 20px;
    float: right;
    margin: 5px 0;
    padding: 5px 10px;
}
#submit-button.inactive {
    background-color: @grey;
    cursor: auto;
}

/* 
	Map Object Styling
*/

/*#meshu-container path, #mini-delaunay path, #rotate-ui path, .gallery .meshu-svg path {*/
path {
    fill: none;
    stroke: black;
    pointer-events: none;
    stroke-width: 5;
    stroke-linejoin: round;
}
#rotate-ui path {
    stroke-dasharray: 20, 15;
}

circle {
    fill: @pink;
    fill-opacity: 0;
}

.edit circle:hover, circle.highlight, .edit .inactive circle:first-child {
    fill-opacity: 1;
    cursor: pointer;
}
#hidden, #rotate-ui {
    display: none;
}
#mini-delaunay path, #product-preview path {
    stroke-width: 15;
}

#rotate:hover #rotate-ui {
    display: block;
}
#rotate-ui circle {
    fill-opacity: 1;
    cursor: pointer;
    stroke-width: 50;
    stroke: transparent;
}
#rotate-ui path {
    stroke: #999;
}

/* mini meshu */
#maps {
    padding: 0 0 60px 15px;
    float: left;
}

.mini-meshu {
    float: left;
    width: 306px;
    height: 290px;
    margin: 0 10px 10px 0;
    border: 5px solid white;

    &:hover {
        cursor: pointer;
        border: 5px solid @blue;
    }

    .map .layer {
        opacity: 1;
    }

    .title {
        z-index: 2;
        padding: 5px;
        width: 296px;
        font-size: 18px;
        position: absolute;
        background: rgba(255, 255, 255, .8);
    }
}

/* Map UI */

.mapui {
    opacity: 0;
    .transition(opacity);
}

.edit .mapui {
    opacity: 1;
    z-index: 1338;
    position: absolute;
    .transition(opacity);

    #zoomin, #zoomout {
        margin: 5px;
        width: 20px;
        height: 20px;
        opacity: .75;
        display: block;
        cursor: pointer;
        background: @grey;
        position: relative;

        &:hover {
            opacity: 1;
        }
    }
    #zoomin {
        background-image: url(../images/zoomin.png);
    }
    #zoomout {
        background-image: url(../images/zoomout.png);
    }

    div:hover {
        pointer: cursor;
    }
}

/*
    gallery display
*/
li.object {
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -4px;
    position: relative;
    margin-bottom: -3px;
    display: inline-block;
    border: 1px solid @borderGrey;

    .image {
        width: 239px;
        height: 290px;
        display: block;
        border: 5px solid white;
    }

    .blank {
        background-color: @borderGrey;
        border: 5px solid @borderGrey;
    }
    
    .description {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: @grey;
    }

    .clickthrough {
        right: 10px;
        bottom: 35px;
        color: white;
        display: none;
        padding: 3px 6px;
        position: absolute;
        background-color: @pink;
    }

    .clicknew {
        top: 30px;
        left: 35px;
        width: 180px;
        font-size: 28px;
        position: absolute;
        text-align: center;
    }

    /* hover for gallery item */
    &:hover {
        .image {
            border: 5px solid @blue; 
        }

        .blank {
            border: 5px solid @pink; 
        }

        .description {
            color: black;
        }

        .clickthrough {
            display: block;
            cursor: pointer;
        }
    }
}

/* fix the last item in every row in the store / gallery views */
li.object:nth-child(4n) {
    border-right: 0px;

    .image {
        width: 240px;
    }
}

li.last-object {
    border-bottom: 0px;
}

.gallery .meshu-svg {
    width: 220px;
    height: 220px;
    padding: 5px;
    position: absolute;
}
.gallery .meshu-svg path {
    stroke-width: 12;
}

#img-thumbs {
    padding: 10px 0 20px;
}

#img-thumbs li {
    display: inline-block;
}
#img-thumbs img {
    cursor: pointer;
}
.other-view {
    position: absolute;
    top: -20px;
    left: -620px;
    opacity: 0;
    .transition(opacity);
}
.other-view.active {
    opacity: 1;
    z-index: 1;
    .transition(opacity);
}
.other-view.z-1{
    z-index: 1;
}

/* about page */
.about {
    width: 460px;
    float: left;
    margin-top: 50px;
}
.about img {
    width: 240px;
    float: left;
    padding: 0 10px 0 0;
}
.about.right {
    float: right;
    text-align: right;
}

.about.right img {
    float: right;
    padding: 0 0 0 10px;
}

/* orders page */
.status-list {
    height: 100px;
    margin-bottom: 10px;
}

.status-block {
    float: left;
    width: 54px;
    height: 54px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 17px 18px 8px 18px;
}

.status-information {
    float: left;
    width: 800px;
    margin-left: 20px;
    height: 100px;
}

.OR {
    background-color: #FF0000;
}

.PR {
    background-color: #FF6600;
}

.SE {
    background-color: #FFFF00;
}

.RE {
    background-color: #FFFF66;
}

.PA {
    background-color: #66FF66;
}

.SH {
    background-color: #00FF66;
}
