{% extends "meshu/base.html" %}

{% block title %}Meshu - {{ meshu.title|safe }}{% endblock %}

{% block page_type %}{{ view }}{% endblock page_type %}

{% block content %}
    <div id="place-hover">
        <span></span>
        <b class="notch"></b>
    </div>
    <div id="meshu-container" class="frame inactive">
    </div>

    {% block helpedit %}
    {% endblock %}

    {% block edit %}
        <div id="edit">
            <div id="search">
                <h2>Search</h2>
                <input type="text" id="searchbox" size="35" value="add a city, place, or address" 
                    onfocus="value=''"/>
                <div id="submit" class="button">search</div>
            </div>
            <div id="cases"></div>
            <div id="places">
            <h2 id="place-number"></h2>
            </div>

            {% block finish %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block view %}
    {% endblock %}

    {% block object %}
        <div id="product">
            <div class="back button">edit meshu</div>
            <div class="make-wrapper">
                <h2>Choose an object:</h2>
                <div id="product-preview">
                    <span class="next active">
                        <svg id="preview-earrings" width="170" height="160"></svg>
                    </span>
                    <span class="next active">
                        <svg id="preview-pendant" width="170" height="160"></svg>
                    </span>
                    <span class="next active">
                        <svg id="preview-necklace" width="170" height="160"></svg>
                    </span>
                    <span class="next active">
                        <svg id="preview-cufflinks" width="170" height="160"></svg>
                    </span>
                </div>
            </div>
            <div id="save-and-view" class="button">I can't decide, just save my meshu</div>
        </div>
    {% endblock %}

    {% block make %}
        <div id="materials">
            {% block goback %}
            {% endblock %}

            <div class="make-wrapper">

                {% block materials %}
                    <div id="make-earrings" class="make-option">
                        <h2><span class="type-title">Pair of Earrings</span></h2>
                        <p>Maximum sidelength: 2.5"</p>
                    </div>
                    <div id="make-pendant" class="make-option">
                        <h2>Pendant Necklace</h2>
                        <p>Maximum sidelength: 1.25"</p>
                    </div>
                    <div id="make-necklace" class="make-option">
                        <h2>Large Necklace</h2>
                        <p>Maximum sidelength: 3"</p>
                    </div>
                    <div id="make-cufflinks" class="make-option">
                        <h2>Pair of Cufflinks</h2>
                        <p>Maximum sidelength: 1"</p>
                    </div>

                    <select id="hidden-select" style="display:none;">
                        <option>Pair of Earrings</option>
                        <option>Pendant Necklace</option>
                        <option>Large Necklace</option>
                        <option>Cufflinks</option>
                    </select>

                    
                    <!-- <ul id="object-list" class="option-list">
                        <li id="earrings">Pair of Earrings <span>(maximum sidelength 2.5")</span></li>
                        <li id="smallNecklace">Pendant Necklace <span>(maximum sidelength 1.25")</span></li>
                        <li id="largeNecklace">Large Necklace <span>(maximum sidelength 3")</span></li>
                    </ul> -->
                    <svg id="rotate">
                    </svg>
                    <div id="rotate-help">
                        <p class="note">If you'd like to adjust the orientation of your meshu, rotate it by clicking on one of the pink corners in this preview box.</p>
                        <b class="border-notch notch"></b>
                        <b class="notch"></b>
                    </div>
                {% endblock %}

                <div class="options left">
                    <h2>Material</h2>
                    <ul id="material-list" class="option-list">
                        <li id="wood">Wood, Lasercut</li>
                        <li id="acrylic">Acrylic, Lasercut</li>
                        <li id="nylon">Nylon, 3D-Printed</li>
                        <li id="silver">Silver, 3D-Printed</li>
                    </ul>
                </div>
                <div class="options right">
                    <h2>Color</h2>
                    <ul id="color-list" class="option-list">
                        <li><span class="color-title"></span><span class="color-img"><img src=""></span></li>
                        <li><span class="color-title"></span><span class="color-img"><img src=""></span></li>
                        <li><span class="color-title"></span><span class="color-img"><img src=""></span></li>
                    </ul>
                </div>
                <div id="total">
                    <span id="total-cost">$50.00</span>
                    <h2>Subtotal</h2>
                    <div id="checkout-button" class="nav next active">Checkout</div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div id="account">
        <div class="back button">back</div>
        <div class="make-wrapper">
            <h2>Great, just sign up or log in to continue</h2>
            
            <div class="next button active">This will be deleted once we have login forcing.</div>
        </div>
    </div>

    {% block checkout %}
        <div id="checkout">
            <div class="nav back">back to materials</div>
            <div class="make-wrapper">
                <h2>Shipping</h2>
                <form action="/order/{{ meshu.id }}" method="POST" id="payment-form">
                    {# put a csrf token in every form in django, for security #}
                    {% csrf_token %}
                    <div id="hidden-form-values" style="display:none;">
                        <input type="hidden" id="object-material" name="material"/>
                        <input type="hidden" id="object-type" name="product"/>
                        <input type="hidden" id="object-color" name="color"/>
                        <input type="hidden" id="object-amount" name="amount"/>
                        <input type="hidden" id="svg-file" name="svg"/>
                        <input type="hidden" id="svg-theta" name="theta"/>
                        <input type="hidden" id="meshu-title" name="title"/>
                        <input type="hidden" id="meshu-data" name="location_data"/>
                    </div>
                    <div class="form-row ship-row">
                        <label>Name</label>
                        <input type="text" style="width:300px;" id="ship-name" class="required right" name="shipping_name" value="" />
                    </div>
                    <div class="form-row ship-row">
                        <label>Address Row 1</label>
                        <input type="text" style="width:243px;" id="ship-add1" class="required right" name="shipping_address"/>
                    </div>
                    <div class="form-row ship-row">
                        <label>Address Row 2</label>
                        <input type="text" style="width:243px;" id="ship-add2" class="right" name="shipping_address_2"/>
                    </div>
                    <div class="form-row ship-row">
                        <label>City</label>
                        <input type="text" style="width:194px; margin-right: 30px;" id="ship-city" class="required" name="shipping_city"/>
                        <span class="right">
                            <label>State</label>
                            <input type="text" size="2" maxlength="2" id="ship-state" class="required" name="shipping_state" style="margin-right:0;" />
                        </span>
                    </div>
                    <div class="form-row ship-row">
                        <label>Zip Code</label>
                        <input type="text" size="5" maxlength="5" id="ship-zip" class="required" name="shipping_zip"/>
                    </div>
                    <p class="note">If you'd like to ship outside of the US, please <a href="/about/" target="_blank">contact us</a>.</p>
                    <p class="note">Please allow 3-4 weeks for acrylic and wood orders,<br />and 5-6 weeks for nylon or silver.</p>
                    <h2>Payment</h2>
                        <div class="form-row">
                            <label>Card Number</label>
                            <input type="text" style="width:135px;" maxlength="16" autocomplete="off" id="card-number" class="card-info required" value="" name="card_number"/>
                            <span class="right">
                                <label>CVC</label>
                                <input type="text" size="3" maxlength="4" autocomplete="off" id="card-cvc" class="card-info required" value="" name="card_cvc"/>
                            </span>
                        </div>
                        <div class="form-row">
                            <label>Expiration (MM/YYYY)</label>
                            <input type="text" size="1" maxlength="2" id="card-expiry-month" class="card-info required" value="" name="card_month"/>
                            <span> / </span>
                            <input type="text" size="3" maxlength="4" id="card-expiry-year" class="card-info required"  value="" name="card_year" style="margin-left: 3px;"/>
                        </div>
                    <p class="note">All of our payments are securely handled through <a href="https://stripe.com/help/security" target="_blank">Stripe</a></p>
                    <input class="nav active" type="submit" id="review-button" value="Review Your Order">
                </form>
            </div>
        </div>
        <div id="review">
            <div class="nav back">edit information</div>
            <div class="make-wrapper">
                <h2>Your Order</h2>
                <h2 class="review-header">Object:</h2>
                <p id="review-description"></p>
                <h2 class="review-header">Shipping:</h2>
                <div id="review-shipping"></div>
                <h2 class="review-header">Payment:</h2>
                <p id="review-payment"></p>
                <h2 class="review-header">Coupon:</h2>
                <form action="/order/apply_coupon" method="GET" id="coupon-code">
                    <input class="coupon-form" id="coupon-code-value" type="text" name="code" />
                    <input class="coupon-form" type="submit" value="Apply" />
                    <span id="coupon-message">Oops, invalid coupon.</span>
                </form>
                <div id="review-total">
                    <h2 id="subtotal-price" class="review-header">Subtotal: <span></span></h2>
                    <h2 id="shipping-price" class="review-header">Shipping Cost: <span>$4.00</span></h2>
                    <h2 id="total-price">Total: <span></span></h2>
                </div>
                <input type="submit" id="submit-button" class="button" value="Submit Payment" tabindex="-1">
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}lib/polymaps.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.geom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/stripe.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/meshu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/product.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/preview.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/saver.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
{% endblock %}

{% block resources %}
    <script type="text/javascript">

    var pageType = "{{ view }}";
    
    {% if meshu %}
        var loadedMeshu = {
            user: '{{ meshu.user_profile.user.username }}',
            edit_url: '{{ meshu.get_edit_url }}',
            view_url: '{{ meshu.get_absolute_url }}',
            title: '{{ meshu.title|safe }}',
            product: '{{ meshu.product }}',
            location_data: '{{ meshu.location_data }}',
            svg: '{% autoescape off %}{{ meshu.svg }}{% endautoescape %}'
        };
    {% else %} 
        var loadedMeshu = null;
    {% endif %}
    </script>  

    {% block extra_resources %}
    {% endblock %}
{% endblock %}