{% extends "meshu/base.html" %}

{% block title %}Meshu - {{ meshu.title|safe }}{% endblock %}

{% block page_type %}{{ view }}{% endblock page_type %}

{% block content %}
    <div id="place-hover">
        <span></span>
        <b class="notch"></b>
    </div>
    {% block map %}
    <div id="meshu-container" class="frame inactive">
        <div id="attribution">Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.</div>
    </div>
    {% endblock %}

    {% block helpedit %}
    {% endblock %}

    {% block edit %}
        <div id="edit">
            <div id="search">
                <h2>Search</h2>
                <input type="text" id="searchbox" size="35" value="add a city, place, or address" 
                    onfocus="value=''"/>
                <div id="search-button" class="button">search</div>
            </div>
            <div id="cases"></div>
            <div id="places">
            <h2 id="place-number"></h2>
            </div>

            {% block finish %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block view %}
    {% endblock %}

    {% block object %}
        <div id="product">
            <div class="nav back">edit meshu</div>
            <div id="save-and-view" class="button nav">save meshu and exit</div>
            <div class="make-wrapper">
                <h2>Choose your piece:</h2>
                <div id="product-preview">
                    <div class="wrapper">
                        <div class="next active">
                            <svg id="preview-earrings" width="170" height="160"></svg>
                        </div>
                        <p>Pair of Earrings</p>
                        <p class="note">$75-150</p>
                    </div>
                    <div class="wrapper">
                        <div class="next active">
                            <svg id="preview-pendant" width="170" height="160"></svg>
                        </div>
                        <p>Pendant Necklace</p>
                        <p class="note">$75-130</p>
                    </div>
                    <div class="wrapper">
                        <div class="next active">
                            <svg id="preview-necklace" width="170" height="160"></svg>
                        </div>
                        <p>Large Necklace</p>
                        <p class="note">$80-150</p>
                    </div>
                    <div class="wrapper">
                        <div class="next active">
                            <svg id="preview-cufflinks" width="170" height="160"></svg>
                        </div>
                        <p>Pair of Cufflinks</p>
                        <p class="note">$85-160</p>
                    </div>
                </div>

                <div class="social-media">
                    <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fdev.meshu.io%2Fmake%2F313237%2F&media=http%3A%2F%2Fdev.meshu.io%2Fmake%2F313237%2F" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                    <div class="share-facebook"><i></i>Share Meshu</div>
                    <a class="share-twitter" target="_blank"><i></i>Tweet Meshu</a>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block make %}
        <div id="materials">
            {% block goback %}
            {% endblock %}

            <div class="make-wrapper">

                {% block materials %}
                    <div id="make-earrings" class="make-option">
                        <h2>Pair of Earrings</h2>
                        <p>Maximum sidelength: 2.5"</p>
                    </div>
                    <div id="make-pendant" class="make-option">
                        <h2>Pendant Necklace</h2>
                        <p>Maximum sidelength: 1.25"</p>
                    </div>
                    <div id="make-necklace" class="make-option">
                        <h2>Large Necklace</h2>
                        <p>Maximum sidelength: 3"</p>
                    </div>
                    <div id="make-cufflinks" class="make-option">
                        <h2>Pair of Cufflinks</h2>
                        <p>Maximum sidelength: 1"</p>
                    </div>
                    <p class="note">For custom orders, please <a href="/about/" target="_blank">contact us</a>.</p>
                    
                    <svg id="rotate">
                    </svg>
                    <div id="rotate-help">
                        <p class="note">If you'd like to adjust the orientation of your meshu, rotate it by clicking on one of the pink corners in this preview box.</p>
                        <b class="border-notch notch"></b>
                        <b class="notch"></b>
                    </div>
                {% endblock %}

                <div class="options left">
                    <h2>Material</h2>
                    <ul id="material-list" class="option-list">
                        <li id="wood" class="material-option">Wood, Lasercut</li>
                        <li id="acrylic" class="material-option">Acrylic, Lasercut</li>
                        <li id="nylon" class="material-option">Nylon, 3D-Printed</li>
                        <li id="stainless" class="material-option">Stainless Steel</li>
                        <li id="silver" class="material-option">Silver, 3D-Printed</li>
                    </ul>
                </div>
                <div class="options right">
                    <h2>Color</h2>
                    <ul id="color-list" class="option-list">
                        <li><span class="color-title"></span><span class="color-img"><img src=""></span></li>
                        <li><span class="color-title"></span><span class="color-img"><img src=""></span></li>
                        <li><span class="color-title"></span><span class="color-img"><img src=""></span></li>
                    </ul>
                </div>
                <div id="total">
                    <span id="total-cost">$50.00</span>
                    <h2>Subtotal</h2>
                    <div id="checkout-button" class="nav next active">Checkout</div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div id="account" class="account">
        <div class="back button">back</div>
        <div class="make-wrapper">
            <h2>Please log in to continue</h2>

            <fb:login-button size="large" onlogin="userFacebookLoggedIn()" scope="email,user_photos,friends_photos,user_status,friends_status,user_checkins,friends_checkins">Login with Facebook</fb:login-button>

            <hr>
            <p class="or"><span>or</span></p>

            <ul id="login-form-switch" class="tab-switch">
                <li id="tab-account" class="active">Create an Account</li>
                <li id="tab-signin">Log In</li>
            </ul>
            <div id="csrf">
                {% csrf_token %}
            </div>
            <form id="form-signin" class="signin">
                <div class="login-row">
                    <label for="signin_name">Email</label>
                    <input id="signin_name" class="required email" type="text" name="signin_name" maxlength="30" style="margin-left: 47px;">
                </div>
                <div class="login-row">
                    <label for="signin_password">Password</label>
                    <input type="password" class="required" name="signin_password" id="signin_password">
                    <label for="signin_password" class="error login-error">Oops, wrong email or password.</label>
                </div>
                <p>Forgot your password? Click <a href="/user/forgot/">here</a> to reset it.</p>
                <div class="login-buttons">
                    <input id="login-signin" class="button" type="submit" value="Login">
                </div>
            </form>
            <form id="form-account" class="account">
                <div class="login-row">
                    <label for="account_name">Email</label>
                    <input id="account_name" class="required email" type="text" name="account_name" maxlength="30" style="margin-left: 47px;">
                </div>
                <div class="login-row">
                    <label for="account_password">Password</label>
                    <input type="password" class="required" name="account_password" id="account_password">
                </div>
                <div class="login-row">
                    <label for="repeat_password" class="reenter" style="width:70px">Re-enter Password</label>
                    <input type="password" class="required" name="repeat_password" id="repeat_password" style="margin-left: 14px;">
                </div>
                <p class="account-message">Don't worry, we'll never give your email address to anyone else. We hate spam as much as you do!</p>
                <div class="login-buttons">
                    <input id="login-account" class="button" type="submit" value="Create Account">
                </div>
            </form>
            <!-- <h2>Please log in to continue.</h2>
            <div id="inline-facebook-signin" class="next active"><fb:login-button onlogin="userFlowFacebookLoggedIn()" scope="email,user_photos,friends_photos,user_status,friends_status,user_checkins,friends_checkins">Login with Facebook</fb:login-button></div>
            <form id="inline-signin">
                <div class="form-row">
                    <label for="inline_signin_name">Email</label>
                    <input id="inline_signin_name" class="required email" type="text" name="inline_signin_name" maxlength="30" style="margin-left: 47px;">
                </div>
                <div class="form-row">
                    <label for="inline_signin_password">Password</label>
                    <input type="password" class="required" name="inline_signin_password" id="inline_signin_password">
                    <label for="inline_signin_password" class="error login-error">Oops, wrong email or password.</label>
                </div>
                <p class="note">Forgot your password? Click <a href="/user/forgot/" target="_blank">here</a> to reset it.</p>
                <div class="login-buttons">
                    <input id="inline-login-signin" class="button next active" type="submit" value="Login">
                </div>
            </form>
            <h2>Don't have an account yet?</h2>
            <form id="inline-account">
                <div class="form-row">
                    <label for="inline_account_name">Email</label>
                    <input id="inline_account_name" class="required email" type="text" name="inline_account_name" maxlength="30" style="margin-left: 47px;">
                </div>
                <div class="form-row">
                    <label for="inline_account_password">Password</label>
                    <input type="password" class="required" name="inline_account_password" id="inline_account_password">
                </div>
                <div class="form-row">
                    <label for="inline_repeat_password" style="bottom: -10px; float: left; line-height: 15px; width:55px;">Re-enter Password</label>
                    <input type="password" class="required" name="inline_repeat_password" id="inline_repeat_password" style="margin-left: 14px;">
                </div>
                <p class="note account-message">Don't worry, we'll never give your email address to anyone else. We hate spam as much as you do!</p>
                <div class="login-buttons">
                    <input id="inline-login-account" class="button next active" type="submit" value="Create Account">
                </div>
            </form> -->
        </div>
    </div>

    {% block checkout %}
        <div id="checkout" class="domestic">
            <div class="nav back">back to materials</div>
            <div class="make-wrapper">
                <h2>Shipping</h2>
                <ul id="shipping-destination" class="tab-switch">
                    <li id="tab-domestic" class="active">USA</li>
                    <li id="tab-international">International</li>
                </ul>
                <form action="/order/{{ meshu.id }}" method="POST" id="payment-form" name="order-form">
                    {# put a csrf token in every form in django, for security #}
                    {% csrf_token %}
                    <div id="hidden-form-values" style="display:none;">
                        <input type="hidden" id="object-material" name="material"/>
                        <input type="hidden" id="object-type" name="product"/>
                        <input type="hidden" id="object-color" name="color"/>
                        <input type="hidden" id="object-amount" name="amount"/>
                        <input type="hidden" id="svg-file" name="svg"/>
                        <input type="hidden" id="svg-theta" name="theta"/>
                        <input type="hidden" id="meshu-title" name="title"/>
                        <input type="hidden" id="meshu-data" name="location_data"/>
                        <input type="hidden" id="postcard-note" name="postcard_note"/>
                    </div>
                    <div class="form-row ship-row">
                        <label>Name</label>
                        <input type="text" id="ship-name" class="required right" name="shipping_name" value="" />
                    </div>
                    <div class="form-row ship-row">
                        <label>Address</label>
                        <input type="text" id="ship-add1" class="required right" name="shipping_address"/>
                    </div>
                    <div class="form-row ship-row">
                        <label></label>
                        <input type="text" id="ship-add2" class="right" name="shipping_address_2"/>
                    </div>
                    <div class="form-row ship-row">
                        <label class="short-label">City</label>
                        <input type="text" id="ship-city" class="required city-input short-input" name="shipping_city"/>
                    </div>
                    <div class="form-row ship-row international">
                        <label class="short-label">Region, County or State</label>
                        <input type="text" id="ship-region" class="required region-input short-input" name="shipping_region"/>
                    </div>
                    <div class="form-row ship-row">
                        <label class="domestic short-label">Zip Code</label>
                        <label class="international short-label">Postcode or Zip Code</label>
                        <input type="text" size="5" maxlength="20" id="ship-zip" class="required short-input" name="shipping_zip"/>
                    <div class="form-row ship-row domestic">
                            <label class="domestic short-label">State</label>
                            <input type="text" size="2" maxlength="2" id="ship-state" class="required domestic short-input" name="shipping_state" style="margin-right:0;" />
                    </div>
                    <div class="form-row ship-row international country-dropdown">
                        <label>Country</label>
                        <select id="countries" name="shipping_country">
                            <option value="United States">United States</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Åland Islands">Åland Islands</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Antarctica">Antarctica</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Bouvet Island">Bouvet Island</option>
                            <option value="Brazil">Brazil</option>
                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Cape Verde">Cape Verde</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chad">Chad</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Christmas Island">Christmas Island</option>
                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Congo">Congo</option>
                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                            <option value="Cook Islands">Cook Islands</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote D'ivoire">Cote D'ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                            <option value="Faroe Islands">Faroe Islands</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="French Guiana">French Guiana</option>
                            <option value="French Polynesia">French Polynesia</option>
                            <option value="French Southern Territories">French Southern Territories</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Gambia">Gambia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Gibraltar">Gibraltar</option>
                            <option value="Greece">Greece</option>
                            <option value="Greenland">Greenland</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Guadeloupe">Guadeloupe</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guernsey">Guernsey</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-bissau">Guinea-bissau</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Isle of Man">Isle of Man</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jersey">Jersey</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                            <option value="Korea, Republic of">Korea, Republic of</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Macao">Macao</option>
                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Martinique">Martinique</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mayotte">Mayotte</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montenegro">Montenegro</option>
                            <option value="Montserrat">Montserrat</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                            <option value="New Caledonia">New Caledonia</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Niue">Niue</option>
                            <option value="Norfolk Island">Norfolk Island</option>
                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                            <option value="Panama">Panama</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Pitcairn">Pitcairn</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Reunion">Reunion</option>
                            <option value="Romania">Romania</option>
                            <option value="Russian Federation">Russian Federation</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Saint Helena">Saint Helena</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Saint Lucia">Saint Lucia</option>
                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                            <option value="Samoa">Samoa</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="Solomon Islands">Solomon Islands</option>
                            <option value="Somalia">Somalia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                            <option value="Swaziland">Swaziland</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                            <option value="Tajikistan">Tajikistan</option>
                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Timor-leste">Timor-leste</option>
                            <option value="Togo">Togo</option>
                            <option value="Tokelau">Tokelau</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Turkmenistan">Turkmenistan</option>
                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                            <option value="Tuvalu">Tuvalu</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Vanuatu">Vanuatu</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Viet Nam">Viet Nam</option>
                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                            <option value="Western Sahara">Western Sahara</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div>
                    </div>
                    <p class="note domestic">Please allow 3-4 weeks for acrylic and wood orders,<br />and 5-6 weeks for nylon or silver.</p>
                    <p class="note international">Please allow 4-5 weeks for acrylic and wood orders,<br />and 6-7 weeks for nylon or silver.</p>
                    <h2>Payment</h2>
                        <div class="form-row">
                            <label>Card Number</label>
                            <input type="text" style="width:141px;" maxlength="16" autocomplete="off" id="card-number" class="card-info required" value="" name="card_number"/>
                            <span class="right">
                                <label>CVC</label>
                                <input type="text" size="3" maxlength="4" autocomplete="off" id="card-cvc" class="card-info required" value="" name="card_cvc"/>
                            </span>
                        </div>
                        <div class="form-row">
                            <label>Expiration (MM/YYYY)</label>
                            <input type="text" size="1" maxlength="2" id="card-expiry-month" class="card-info required" value="" name="card_month"/>
                            <span> / </span>
                            <input type="text" size="3" maxlength="4" id="card-expiry-year" class="card-info required"  value="" name="card_year" style="margin-left: 3px;"/>
                        </div>
                    <p class="note">All of our payments are securely handled through <a href="https://stripe.com/help/security" target="_blank">Stripe</a></p>
                    <input class="nav active" type="submit" id="review-button" value="Review Your Order">
                </form>
            </div>
        </div>
        <div id="review">
            <div class="nav back">edit information</div>
            <div class="make-wrapper">
                <h2>Your Order</h2>
                <p id="review-description"></p>

                <div class="review-order-block">
                    <h2 class="review-header">Shipping:</h2>
                    <div id="review-shipping"></div>
                </div>
                <div class="review-order-block">
                    <h2 class="review-header">Payment:</h2>
                    <p id="review-payment"></p>
                </div>

                <div class="postcard-form">
                    <h2 class="review-header">Postcard Note:</h2>
                    <p>Each meshu comes with its own map postcard. Add a custom message below (optional).</p>
                    <textarea rows="4" cols="45" id="postcard-note-form"></textarea>
                </div>

                <div class="coupon">
                    <h2 class="review-header">Coupon:</h2>
                    <form action="/order/apply_coupon" method="GET" id="coupon-code">
                        <span id="coupon-message">Invalid coupon.</span>
                        <input class="coupon-form" id="coupon-code-value" type="text" name="code" />
                        <input class="coupon-form" type="submit" value="Apply" />
                    </form>
                </div>
                <div id="review-total">
                    <h2 id="subtotal-price" class="review-header">Subtotal: <span></span></h2>
                    <h2 id="shipping-price" class="review-header">Shipping Cost: <span>$4.00</span></h2>
                    <h2 id="total-price">Total: <span></span></h2>
                </div>
                <div id="submit-button" class="button" value="Submit Payment" tabindex="-1">Submit Payment</div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block script %}
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/polymaps.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.v2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/modernizr.js"></script>
    
    <!-- // <script type="text/javascript" src="{{ STATIC_URL }}js/min/meshuapp.min.js"></script> -->
    
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}lib/canvg.js"></script> 

    <script type="text/javascript" src="{{ STATIC_URL }}js/stripe.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/meshu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rasterizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/transforms.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/product.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/preview.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/materializer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/saver.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/facebook.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/foursquare.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>

{% endblock %}

{% block resources %}
    <script type="text/javascript">

    Modernizr.load({
        test: Modernizr.svg,
        nope: '{{ STATIC_URL }}js/min/no-svg.min.js'
    });

    var pageType = "{{ view }}";
    
    {% if meshu %}
    var loadedMeshu = {
        id: '{{ meshu.id }}',
        username: '{{ meshu.user_profile.user.username }}',
        edit_url: '{{ meshu.get_edit_url }}',
        view_url: '{{ meshu.get_absolute_url }}',
        title: "{{ meshu.title|safe }}",
        product: '{{ meshu.product }}',
        location_data: "{{ meshu.location_data|safe }}",
        svg: '{{ meshu.svg|safe }}'
    };
    {% else %} 
    var loadedMeshu = null;
    {% endif %}
    </script>  
{% endblock %}