{% extends "meshu/base.html" %}

{% block title %}Meshu - {{ meshu.title }}{% endblock %}

{% block page_type %}{{ view }}{% endblock page_type %}

{% block content %}
    {% block display %}
        <div id="meshu-container" class="frame"></div>
    {% endblock %}

    {% block edit %}
    {% endblock %}

    {% block make %}
    {% endblock %}

{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}lib/polymaps.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.geom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/stripe.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/meshu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
{% endblock %}

{% block resources %}
    <script type="text/javascript">
    {% if meshu %}
        var loadedMeshu = {
            user: '{{ meshu.user_profile.user.username }}',
            title: '{{ meshu.title }}',
            location_data: '{{ meshu.location_data }}',
            svg: '{% autoescape off %}{{ meshu.svg }}{% endautoescape %}'
        };
    {% else %} 
        var loadedMeshu = null;
    {% endif %}
    </script>
    
{% endblock %}