{% extends "meshu/item/base_item.html" %}

{% block title %}Meshu - Make Your Own{% endblock %}

{% block page_type %}edit{% endblock page_type %}

{% block body_class %}orbit{% endblock body_class %}

{% block page_title %}Step 1: Choose Your Places{% endblock %}

{% block tooltips %}
<div class="tooltip top left" style="top: 125px; left: 20px;">
    <span>Start by searching for an address or city</span>
    <b class="notch"></b>
</div>
<div class="tooltip left" style="top: 280px; right: 175px;">
    <span>Or add points by clicking on the map</span>
    <b class="notch"></b>
</div>
<div class="tooltip left" style="top: 511px; left: 20px;">
    <span>You can also use your checkins!</span>
    <b class="notch"></b>
</div>
{% endblock %}

{% block finish %}
    <div class="connect-wrapper"><span class="title">Or, use your checkins from:</span><div class="facebook-auth button">Facebook </div><div class="foursquare-auth button">Foursquare <img src="https://playfoursquare.s3.amazonaws.com/press/logo/icon-36x36.png"></div></div>
{% endblock %}

{% block products %}
    <div class="wrapper" id="wrapper-pendant">
            <svg id="preview-pendant" width="100%" height="282">
                <image xlink:href="{{ STATIC_URL }}images/preview/preview_pendant.png" width="300" height="300" x="0" y="0">
            </svg>
            <p class="title">Pendant Necklace</p>
            <p class="note">pendant max side length: 1.5"</p>
            <p class="note">chain length: 18"</p>
    </div>
    <div class="wrapper" id="wrapper-earrings">
            <svg id="preview-earrings" width="100%" height="282">
                <image xlink:href="{{ STATIC_URL }}images/preview/preview_earrings.png" width="300" height="300" x="0" y="0">
            </svg>
            <p class="title">Earrings</p>
            <p class="note">earrings 1.75" tall</p>
            <p class="note">nickel-free posts available</p>
    </div>
    <div class="wrapper last" id="wrapper-necklace">
            <svg id="preview-necklace" width="100%" height="282">
                <image xlink:href="{{ STATIC_URL }}images/preview/preview_necklace.png" width="300" height="300" x="0" y="0">
            </svg>
            <p class="title">Large Necklace</p>
            <p class="note">pendant max side length: 3"</p>
            <p class="note">chain length: 18"</p>
    </div>
{% endblock %}

{% block materials %}
    <li id="amber-bamboo" class="material-option">
        <div class="img-wrapper">
            <img src="{{ STATIC_URL }}images/materials/orbit-amber-bamboo.jpg" class="img">
        </div>
        Bamboo<span class="price"></span>
    </li>
    <li id="black-acrylic" class="material-option">
        <div class="img-wrapper">
            <img src="{{ STATIC_URL }}images/materials/orbit-black-acrylic.jpg" class="img">
        </div>
        Black Acrylic<span class="price"></span>
    </li>
    <li id="sterling-silver" class="material-option">
        <div class="img-wrapper">
            <img src="{{ STATIC_URL }}images/materials/orbit-silver.jpg" class="img default">
        </div>
        Sterling Silver<span class="price"></span>
    </li>
    <li id="polished-brass" class="material-option">
        <div class="img-wrapper">
            <img src="{{ STATIC_URL }}images/materials/orbit-polished-brass.jpg" class="img default">
        </div>
        Polished Brass<span class="price"></span>
    </li>
{% endblock %}

{% block final-touch %}
    <div id="final-rotate">
        <svg id="rotate"></svg>
        <div id="rotate-cw" class="rotate-arrow"></div>
        <div id="rotate-ccw" class="rotate-arrow"></div>
        <h2 class="add-on-header">Meshu Rotation:</h2>
        <p>If you'd like to adjust the orientation of your meshu, click on one of the above arrows to rotate it.</p>
    </div>
{% endblock %}

{% block extra-libraries %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-ui-sortable.min.js"></script>
{% endblock %}    

{% block script-specific %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.circle.js"></script>
{% endblock %}

{% block resources %}
    {{ block.super }}   
{% endblock %}