{% extends "meshu/item/base_item.html" %}
{% load shorturl %}

{% block login_form %}Please sign in{% endblock %}

{% block numbers %}
{% endblock %}

{% block edit %}
{% endblock %}

{% block view %}
    <div id="view" class="{{ meshu.renderer }}">
        <h2>
            <span>{{ meshu.title }}</span>
            {% if user.is_authenticated %}
            {% if user.id == meshu.user_profile.user.id %}
                <div class="item-actions">
                    <!-- <a id="order-button" class="nav active" href="{{ meshu.get_order_url }}">order meshu</a> -->
                    <a id="reedit" class="nav active"  href="{{ meshu.get_edit_url }}">order or edit meshu</a>
                </div>
            {% endif %}
            {% endif %}
        </h2>
        <p class="show-places">show places list</p>
        <p class="show-places" style="display: none;">hide places list</p>
        <ul id="display-places"></ul>
    </div>

    <div class="share-buttons">
        <div class="action-button share-facebook"><i></i>share</div>
        <a class="action-button share-twitter" href="" target="_blank"><i></i>tweet</a>
        <a class="action-button share-pinterest" href="" target="_blank"><i></i>pin it</a>
    </div>
{% endblock %}

{% block object %}
{% endblock %}

{% block make %}
{% endblock %}

{% block addons %}
{% endblock %}

{% block checkout %}
{% endblock %}