{% extends "meshu/item/base_item.html" %}
{% load shorturl %}

{% block login_form %}Please sign in{% endblock %}

{% block edit %}
{% endblock %}

{% block view %}
    <div id="view">
        <h2><span>{{ meshu.title|safe }}</span></h2>
        <p class="show-places">show places list</p>
        <p class="show-places" style="display: none;">hide places list</p>
        <ul id="display-places"></ul>
    </div>
    {% if user.is_authenticated %}
    {% if user.id == meshu.user_profile.user.id %}
    <a id="reedit" class="nav back"  href="{{ meshu.get_edit_url }}">edit meshu</a>
    <a id="order-button" class="nav active" href="{{ meshu.get_order_url }}">order meshu</a>
    {% endif %}
    {% endif %}
{% endblock %}

{% block goback %}
{% endblock %}
{% block finish %}
{% endblock %}

{% block options %}
{% endblock %}

{% block make %}
{% endblock %}

{% block checkout %}
{% endblock %}