{% extends "meshu/item/base_item.html" %}
{% load shorturl %}

{% block body_class %}{{ meshu.renderer }}{% endblock body_class %}

{% block login_form %}Please sign in{% endblock %}

{% block numbers %}
{% endblock %}

{% block edit %}
{% endblock %}

{% block view %}
    <div id="view" class="{{ meshu.renderer }}">
        <h2>
            <!-- <span>{{ meshu.title }}</span> -->
            {% if user.is_authenticated %}
            {% if user.id == meshu.user_profile.user.id %}
                <div class="item-actions">
                    <!-- <a id="order-button" class="nav active" href="{{ meshu.get_order_url }}">order meshu</a> -->
                    <a id="reedit" class="nav active"  href="{{ meshu.get_edit_url }}">order or edit meshu</a>
                </div>
            {% endif %}
            {% endif %}
        </h2>
        <p class="show-places">show places list</p>
        <p class="show-places" style="display: none;">hide places list</p>
        <ul id="display-places"></ul>
    </div>

    <div class="share-buttons">
        <div class="action-button share-facebook"><i></i>share</div>
        <a class="action-button share-twitter" href="" target="_blank"><i></i>tweet</a>
        <a class="action-button share-pinterest" href="" target="_blank"><i></i>pin it</a>
    </div>
{% endblock %}

{% block object %}
{% endblock %}

{% block make %}
{% endblock %}

{% block addons %}
{% endblock %}

{% block checkout %}
{% endblock %}

{% block extra-libraries %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-ui-sortable.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.geo.projection.v0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.polyhedron.js"></script>
{% endblock %}

{% block script-specific %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/ui.socialsharer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.facet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.radial.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.print.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.circle.js"></script>
{% endblock %}