{% extends "meshu/item/base_item.html" %}

{% block title %}Meshu - Make Your Own{% endblock %}

{% block page_type %}edit{% endblock page_type %}

{% block page_title %}Facet{% endblock %}

{% block tooltips %}
<div class="tooltip top" style="top: 100px; left: 20px;">
    <span>Start by searching for an address or city</span>
    <b class="notch"></b>
</div>
<div class="tooltip" style="top: 280px; right: 175px;">
    <span>Or add points by clicking on the map</span>
    <b class="notch"></b>
</div>
<div class="tooltip" style="bottom: 95px; left: 20px;">
    <span>You can also use your checkins!</span>
    <b class="notch"></b>
</div>
{% endblock %}

{% block finish %}
    <div class="connect-wrapper"><div class="title">Or, use your checkins from:</div><div class="facebook-auth button">Facebook </div><div class="foursquare-auth button">Foursquare <img src="https://playfoursquare.s3.amazonaws.com/press/logo/icon-36x36.png"></div></div>
    <!-- <div id="finish-button" class="nav next start-order">Continue</div> -->
{% endblock %}

{% block products %}
    <div class="wrapper" id="wrapper-pendant">
        <!-- <div class="frame"> -->
            <svg id="preview-pendant" width="100%" height="282">
                <image xlink:href="{{ STATIC_URL }}images/preview/preview_pendant.png" width="300" height="300" x="0" y="0">
            </svg>
            <p>Pendant Necklace</p>
            <p class="note">pendant max side length: 1.5"</p>
            <p class="note">chain length: 18"</p>
        <!-- </div> -->
    </div>
    <div class="wrapper" id="wrapper-earrings">
        <!-- <div class="frame"> -->
            <svg id="preview-earrings" width="100%" height="282">
                <image xlink:href="{{ STATIC_URL }}images/preview/preview_earrings.png" width="300" height="300" x="0" y="0">
            </svg>
            <p>Earrings</p>
            <p class="note">earrings 1.75" tall</p>
            <p class="note">nickel-free posts available</p>
        <!-- </div> -->
    </div>
    <div class="wrapper last" id="wrapper-necklace">
        <!-- <div class="frame"> -->
            <svg id="preview-necklace" width="100%" height="282">
                <image xlink:href="{{ STATIC_URL }}images/preview/preview_necklace.png" width="300" height="300" x="0" y="0">
            </svg>
            <p>Large Necklace</p>
            <p class="note">pendant max side length: 3"</p>
            <p class="note">chain length: 18"</p>
        <!-- </div> -->
    </div>
    <div class="wrapper" id="wrapper-cufflinks">
        <!-- <div class="frame"> -->
            <svg id="preview-cufflinks" width="100%" height="282">
                <image xlink:href="{{ STATIC_URL }}images/preview/preview_cufflinks.png" width="300" height="300" x="0" y="0">
            </svg>
            <p>Cufflinks</p>
            <p class="note">cufflink max side length: 1.5"</p>
            <p class="note important">we recommend using 4-10 points for cufflinks</p>
        <!-- </div> -->
    </div>
    <div class="wrapper last" id="wrapper-ring">
        <div class="ring-frame">
            <div class="tri"></div>
            <div class="triangle">new</div>
            <div id="ring-preview-frame">
                <div id="ring-preview-strip-container" class="strip">
                    <div class="a"></div>
                    <div class="b"></div>
                    <div class="c"></div>
                    <div class="d"></div>
                    <div class="e"></div>
                    <div class="f"></div>
                    <div class="g"></div>
                    <div class="h"></div>
                    <div class="i"></div>
                    <div class="j"></div>
                    <div class="k"></div>
                    <div class="l"></div>
                    <div class="m"></div>
                    <div class="n"></div>
                    <div class="o"></div>
                    <div class="p"></div>
                    <div class="q"></div>
                    <div class="r"></div>
                    <div class="s"></div>
                    <div class="t"></div>
                    <div class="u"></div>
                    <div class="v"></div>
                    <div class="w"></div>
                    <div class="x"></div>
                </div>
            </div>
        </div>
        <p>Ring</p>
        <p class="note">available in sizes 4-14</p>
        <p class="note important">we recommend using 4-10 points for rings</p>
    </div>
    <!-- <p class="cufflinks note" style="width:260px;">Contact us at <a href="mailto:hi@meshu.io" style="color:#000">hi@meshu.io</a> for cufflink requests.</p> -->
{% endblock %}

{% block materials %}
    <li id="amber-bamboo" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/facet-amber-bamboo.jpg" class="img">
        Bamboo<span class="price"></span>
    </li>
    <li id="black-acrylic" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/facet-black-acrylic.jpg" class="img">
        Black Acrylic<span class="price"></span>
    </li>
    <li id="white-acrylic" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/facet-white-acrylic.jpg" class="img">
        White Acrylic<span class="price"></span>
    </li>
    <li id="black-nylon" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/facet-black-nylon.jpg" class="img">
        Black Nylon<span class="price"></span>
    </li>
    <li id="white-nylon" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/facet-white-nylon.jpg" class="img">
        White Nylon<span class="price"></span>
    </li>
    <li id="sterling-silver" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/facet-silver.jpg" class="img">
        Sterling Silver<span class="price"></span>
    </li>
{% endblock %}

{% block final-touch %}
    <div id="final-ring">
        <!-- mesh.style(ringsize) -->
    </div>
    <div id="final-rotate">
        <svg id="rotate"></svg>
        <div id="rotate-cw" class="rotate-arrow">&#8635;</div>
        <div id="rotate-ccw" class="rotate-arrow">&#8634;</div>
        <h2 class="add-on-header">Meshu Rotation:</h2>
        <p>If you'd like to adjust the orientation of your meshu, rotate it by clicking on one of the pink corners in this preview box.</p>
    </div>
{% endblock %}

{% block script-specific %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.facet.js"></script>
{% endblock %}

{% block resources %}
{{ block.super }}

    <script type="text/javascript">

    var data = [],
    bgWidth = 600,
    stripNum = 24,
    stripWidth = (bgWidth / stripNum);

    for (var i = 0; i < stripNum; i++) {
      var rotate = 'rotateY(' + (i * 360 / stripNum) + 'deg) translateZ(97px)';
      data.push({
        'class': String.fromCharCode(97 + i), // 'a' through 'x'
        'background-position': (bgWidth - (stripWidth * i)) + 'px 0',
        '-moz-transform': rotate,
        '-webkit-transform': rotate
      });
    }

  $.each(data, function(i, v){
    $("." + v["class"]).css({
      "background-position": v["background-position"],
      "-moz-transform": v["-moz-transform"],
      "-webkit-transform": v["-webkit-transform"]
    })
  });

    </script>
{% endblock %}