{% extends "meshu/item/base_item.html" %}

{% block edit %}
    <div id="edit">
        <div id="search">
            <h2>Search</h2>
            <input type="text" id="coords" size="35" value="add a city, place, or address" onfocus="value=''"/>
            <div id="submit" class="button">search</div>
        </div>
        <div id="cases"></div>
        <div id="places"></div>

        <div id="finish" class="nav next">when finished, pick your material</div>
    </div>
{% endblock %}

{% block make %}
    <div id="materials">
        <div class="nav back">go back</div>
        <div class="make-wrapper">
            <h2>Object</h2>
            <ul id="object-list" class="option-list">
                <li id="earrings">Pair of Earrings (maximum sidelength 3")</li>
                <li id="smallNecklace">Pendant Necklace (maximum sidelength 2")</li>
                <li id="largeNecklace">Long Necklace (maximum sidelength 4")</li>
            </ul>
            <svg id="rotate">
            </svg>
            <div id="rotate-help">
                <p>If you'd like to adjust the orientation of your meshu, rotate it by clicking on one of the pink corners in this preview box</p>
            </div>
            <div class="left-div">
                <h2>Material</h2>
                <ul id="material-list" class="option-list">
                    <li id="nylon">Nylon</li>
                    <li id="silver">Silver</li>
                    <li id="wood">Wood</li>
                    <li id="acrylic">Acrylic</li>
                </ul>
            </div>
            <div class="right-div">
                <h2>Color</h2>
                <ul id="color-list" class="option-list">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div id="total">
                <span id="total-cost">$50.00</span>
                <h2>Total</h2>
                <div class="nav next checkout-button active">Checkout</div>
            </div>
        </div>
    </div>
    <div id="checkout">
        <div class="nav back">back to materials</div>
        <div class="make-wrapper">
            <h2>Shipping</h2>
            <form action="/item/order/" method="POST" id="payment-form">
                {# put a csrf token in every form in django, for security #}
                {% csrf_token %}
                <div style="display:none;">
                    <input type="hidden" id="object-material" name="material"/>
                    <input type="hidden" id="object-type" name="product"/>
                    <input type="hidden" id="object-color" name="color"/>
                    <input type="hidden" id="object-amount" name="amount"/>
                    <input type="hidden" id="svg-file" name="svg"/>
                    <input type="hidden" id="svg-theta" name="theta"/>
                    <input type="hidden" id="meshu-data" name="location_data"/>
                </div>
                <div class="form-row ship-row">
                    <label>Name</label>
                    <input type="text" size="40" id="ship-name" name="shipping_name" value="{{ user.username }}" />
                </div>
                <div class="form-row ship-row">
                    <label>Address Row 1</label>
                    <input type="text" size="40" id="ship-add1" name="shipping_address"/>
                </div>
                <div class="form-row ship-row">
                    <label>Address Row 2</label>
                    <input type="text" size="40" id="ship-add2" name="shipping_address_2"/>
                </div>
                <div class="form-row ship-row">
                    <label>City</label>
                    <input type="text" size="30" id="ship-city" name="shipping_city"/>
                    <label>State</label>
                    <input type="text" size="2" maxlength="2" id="ship-state" name="shipping_state"/>
                </div>
                <div class="form-row ship-row">
                    <label>Zip Code</label>
                    <input type="text" size="5" maxlength="5" id="ship-zip" name="shipping_zip"/>
                </div>
            <h2>Payment</h2>
                <div class="form-row">
                    <label>Card Number</label>
                    <input type="text" size="20" maxlength="16" autocomplete="off" class="card-number"/>
                </div>
                <div class="form-row">
                    <label>CVC</label>
                    <input type="text" size="4" maxlength="4" autocomplete="off" class="card-cvc"/>
                </div>
                <div class="form-row">
                    <label>Expiration (MM/YYYY)</label>
                    <input type="text" size="2" maxlength="2" class="card-expiry-month"/>
                    <span> / </span>
                    <input type="text" size="4" maxlength="4" class="card-expiry-year"/>
                </div>
            </form>
        </div>
        <div class="nav next active" id="populateReview">Review Your Order</div>
    </div>
    <div id="review">
        <div class="nav back">edit information</div>
        <div class="make-wrapper">
            <h2>Your Order</h2>
            <h3>Object:</h3>
            <p id="review-description"></p>
            <p id="review-price"></p>
            <h3>Ship To:</h3>
            <div id="review-shipping"></div>
            <h3>Payment:</h3>
            <p id="review-payment"></p>
            <button type="submit" class="submit-button">Submit Payment</button>
        </div>
    </div>
{% endblock %}