{% extends "meshu/item/base_item.html" %}

{% block title %}Meshu - Make Your Own{% endblock %}

{% block page_type %}edit{% endblock page_type %}

{% block body_class %}print{% endblock body_class %}

{% block page_title %}Print{% endblock %}

{% block numbers %}
    <div id="crazy">
        <div class="line"></div>
        <ul>
            <li style="margin-bottom:445px;">1</li>
            <li style="margin-bottom:400px;">2</li>
            <li style="margin-bottom:410px;">3</li>
            <li>4</li>
        </ul>
    </div>
{% endblock %}

{% block products %}
    <div class="wrapper" id="wrapper-postcard">
        <div class="ring-frame">
            <div style="width: 70px; height: 100px; float: left; margin: 100px 115px 0; background-color: #808080;"></div>
        </div>
        <p>Postcard</p>
        <p class="note">3.5"x5"</p>
    </div>
    <div class="wrapper" id="wrapper-poster">
        <div class="ring-frame">
            <div style="width: 180px; height: 260px; float: left; margin: 20px 60px 0; background-color: #808080;"></div>
        </div>
        <p>Small Poster</p>
        <p class="note">20"x30"</p>
    </div>
{% endblock %}

{% block materials %}
    <li id="amber-bamboo" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/radial-amber-bamboo.jpg" class="img">
        Bamboo<span class="price"></span>
    </li>
    <li id="black-acrylic" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/radial-black-acrylic.jpg" class="img">
        Black Acrylic<span class="price"></span>
    </li>
    <li id="white-acrylic" class="material-option">
        <img src="{{ STATIC_URL }}images/materials/radial-white-acrylic.jpg" class="img">
        White Acrylic<span class="price"></span>
    </li>
{% endblock %}

{% block script-specific %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-ui-sortable.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.print.js"></script>
{% endblock %}