{% extends "meshu/item/base_item.html" %}

{% block title %}Meshu - Make Your Own{% endblock %}

{% block page_type %}edit{% endblock page_type %}

{% block body_class %}print{% endblock body_class %}

{% block page_title %}Print{% endblock %}

{% block object %}
    <div id="projection" class="section">
        <h2>Step 2: Choose Your Projection</h2>
        <div class="projection-list">
            <div class="proj top selected" id="zoomed-to-fit">zoom to fit</div>
            <div class="proj" id="mercator"><img src="{{ STATIC_URL }}images/projections/mercator.png">mercator</div>
            <div class="proj" id="hammer"><img src="{{ STATIC_URL }}images/projections/hammer.png">hammer</div>
            <div class="proj" id="august"><img src="{{ STATIC_URL }}images/projections/august.png">august</div>
            <div class="proj" id="eckert1"><img src="{{ STATIC_URL }}images/projections/eckert.png">eckert</div>
            <div class="proj" id="lagrange"><img src="{{ STATIC_URL }}images/projections/lagrange.png">lagrange</div>
            <div class="proj" id="butterfly"><img src="{{ STATIC_URL }}images/projections/butterfly.png">butterfly</div>
        </div>
        <svg class="projection-preview"></svg>
    </div>
{% endblock %}

{% block make %}
    <div id="product" class="section">
        <h2>Step 3: Choose Your Size</h2>
        <div id="product-preview">
            <div class="wrapper" id="wrapper-postcard">
                <div class="ring-frame">
                    <div style="height: 46px; width: 61px; float: left; margin: 126px 120px 0; background-color: #d7d7d7;"></div>
                </div>
                <p>Postcard</p>
                <p class="note">5.6"x4.25"</p>
            </div>
            <div class="wrapper" id="wrapper-small_poster">
                <div class="ring-frame">
                    <div style="width: 108px; height: 82px; float: left; margin: 109px 96px 0; background-color: #d7d7d7;"></div>
                </div>
                <p>Small Poster</p>
                <p class="note">10"x8"</p>
            </div>
            <div class="wrapper last" id="wrapper-large_poster">
                <div class="ring-frame">
                    <div style="width: 260px; height: 195px; float: left; margin: 52px 20px 0; background-color: #d7d7d7;"></div>
                </div>
                <p>Large Poster</p>
                <p class="note">24"x18"</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block addons %}        
{% endblock %}

{% block script-specific %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-ui-sortable.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.geo.projection.v0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.polyhedron.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.print.js"></script>
{% endblock %}