{% extends "meshu/item/base_item.html" %}

{% block title %}Meshu - Make Your Own{% endblock %}

{% block body_class %}radial{% endblock body_class %}

{% block page_type %}edit{% endblock page_type %}

{% block tooltips %}
<div class="tooltip top" style="top: 100px; left: 20px;">
    <span>Search for any address or city</span>
    <b class="notch"></b>
</div>
<div class="tooltip" style="top: 280px; right: 175px;">
    <span>Or select a point by clicking on the map</span>
    <b class="notch"></b>
</div>
<div class="tooltip top" style="top: 65px; right: 342px;">
    <span>Adjust how zoomed in or out your radial is</span>
    <b class="notch"></b>
</div>
{% endblock %}

{% block places %}
    <div id="places" class="inactive">
        <h2 id="radial-heading">Your Radial:</h2>
        <hr>
        <h2 id="place-title"></h2>
        <p style="margin-bottom:5px">Choose a style:</p>
        <div id="radial-frame" class="fill-option active">
            <img src="{{ STATIC_URL }}/images/radial/outline.jpg">
        </div>
        <div id="radial-knockout" class="fill-option">
            <img src="{{ STATIC_URL }}/images/radial/knockout.jpg">
        </div>
    </div>
{% endblock %}

{% block goback %}
    <div class="nav back">back</div>
{% endblock %}
{% block finish %}
    <div id="finish-button" class="nav next start-order">Continue</div>
{% endblock %}

{% block products %}
    <div class="wrapper" id="wrapper-pendant">
        <div class="next active">
            <svg id="preview-pendant" width="170" height="160"></svg>
        </div>
        <p>Pendant Necklace</p>
        <p class="note" id="range-pendant">$75-140</p>
    </div>
    <div class="wrapper" id="wrapper-earrings">
        <div class="next active">
            <svg id="preview-earrings" width="170" height="160"></svg>
        </div>
        <p>Pair of Earrings</p>
        <p class="note" id="range-earrings">$75-90</p>
    </div>
{% endblock %}