{% extends "meshu/item/base_item.html" %}

{% block edit %}
{% endblock %}

{% block object %}
{% endblock %}

{% block materials %}
    <h2>{{ meshu.title }}</h2>
    <p id="readymade-desc">{{ meshu.description }}</p>

    {% for object in meshu.meshuimage_set.all %}
		<img src="{{ STATIC_URL }}{{ object.image }}" class="other-view" id="l-r-{{ forloop.counter }}">
	{% endfor %}

    <div id="img-thumbs">
        {% for object in meshu.meshuimage_set.all %}
    	<img src="{{ STATIC_URL }}{{ object.image }}" style="width:25%; height: 25%" id="r-{{ forloop.counter }}">
    	{% endfor %}
    	<svg class="readymade-preview" width="90" height="90"></svg>
    	<!-- <svg class="readymade-preview" width="90" height="90"> -->
    	</svg>
    </div>
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/readymade.js"></script>
{% endblock %}