{% extends "meshu/item/base_item.html" %}

{% block edit %}
{% endblock %}

{% block object %}
{% endblock %}

{% block map %}

	{{ block.super }}
	{% for object in meshu.meshuimage_set.all %}
		<img src="{{ object.image.url }}" class="other-view" id="l-r-{{ forloop.counter }}">
	{% endfor %}

{% endblock %}

{% block materials %}
    <h2>{{ meshu.title }}</h2>
    <p id="readymade-desc">{{ meshu.description }}</p>

    <div id="img-thumbs">
        {% for object in meshu.meshuimage_set.all %}
    	<img src="{{ object.image.url }}" style="width: 90px; height: 90px;" id="r-{{ forloop.counter }}">
    	{% endfor %}
    	<svg class="readymade-preview" width="90" height="90"></svg>
    </div>
{% endblock %}

{% block script %}
{{ block.super }}
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/min/readymade.min.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/readymade.js"></script>
{% endblock %}