{% extends "meshu/item/base_item.html" %}
{% load shorturl %}

{% block view %}
    <div id="view">
        <h2><span>{{ meshu.title }}</span></h2>
        <p class="show-places">show places list</p>
        <p class="show-places" style="display: none;">hide places list</p>
        <ul id="display-places"></ul>
    </div>
    <div id="reedit" class="nav back">edit meshu</div>
    <div id="order-button" class="nav next active start-order">order meshu</div>
{% endblock %}

{% block goback %}
    <div class="nav back">go back</div>
{% endblock %}
{% block finish %}
    <div id="save-button" class="nav active">save</div>
{% endblock %}

{% block options %}
    <h2>Object</h2>
    <ul id="object-list" class="option-list">
        <li id="earrings">Pair of Earrings (maximum sidelength 3")</li>
        <li id="smallNecklace">Pendant Necklace (maximum sidelength 2")</li>
        <li id="largeNecklace">Long Necklace (maximum sidelength 4")</li>
    </ul>
    <svg id="rotate">
    </svg>
    <div id="rotate-help">
        <p>If you'd like to adjust the orientation of your meshu, rotate it by clicking on one of the pink corners in this preview box</p>
    </div>
{% endblock %}