{% extends "meshu/item/base_item.html" %}
{% load shorturl %}

{% block login_form %}Please sign in{% endblock %}

{% block view %}
{% endblock %}

{% block goback %}
    <div class="nav back">edit meshu</div>
{% endblock %}
{% block finish %}
    <div id="cancel-button" class="nav">cancel</div>
    <div id="update-button" class="nav">save current</div>
    <div id="save-button" class="nav active">save as new</div>
{% endblock %}

{% block options %}
    <h2>Object</h2>
    <ul id="object-list" class="option-list">
        <li id="earrings">Pair of Earrings (maximum sidelength 3")</li>
        <li id="smallNecklace">Pendant Necklace (maximum sidelength 2")</li>
        <li id="largeNecklace">Long Necklace (maximum sidelength 4")</li>
    </ul>
    <svg id="rotate">
    </svg>
    <div id="rotate-help">
        <p>If you'd like to adjust the orientation of your meshu, rotate it by clicking on one of the pink corners in this preview box</p>
    </div>
{% endblock %}