{% extends "meshu/email/base_email.html" %}
{% load shorturl %}

{% block email_title %}
Meshu: Your order is off to the fabricator!
{% endblock %}

{% block content %}
<br />
<div>
    <h3 class="h4"><b>{{ meshu.title }}</b> is off to the fabricator!</h3>
    We've processed your <b>{{ order.get_display_name }}</b> order and have sent it off to the fabricator! We'll let you know when we've received it from the fabricator, and then finally when we ship it off to you all finished and pretty!
    <br /><br />
    Here's a link to view your meshu: <a href="http://meshu.io{% shorturl meshu %}"><b>http://meshu.io{% shorturl meshu %}</b></a>.
</div>
{% endblock %}