{% extends "meshu/email/base_email.html" %}
{% load shorturl %}

{% block email_title %}
Exciting! We've received your order from the fabricator!
{% endblock %}

{% block content %}
<br />
<div>
    <h3 class="h4"><b>{{ meshu.title }}</b> has arrived safe and sound!</h3>
    We've received your <b>{{ order.get_display_name }}</b> order and will be finishing it, packaging it, and sending it off to you soon! You'll get a final email when it's en route to you.
    <br /><br />
    Here's a link to view your meshu: <a href="https://meshu.io{% shorturl meshu %}"><b>https://meshu.io{% shorturl meshu %}</b></a>.
</div>
{% endblock %}