{% extends "meshu/email/base_email.html" %}
{% load shorturl %}

{% block email_title %}
Meshu: Thanks for ordering!
{% endblock %}

{% block content %}
<br />
<div>
    <h3 class="h4"><b>{{ meshu.title }}</b></h3>
    <h3 class="h4">Total: ${{ order.amount|floatformat:2 }}</h3>
    Thanks! We've received your <b>{{ order.get_display_name }}</b> order. What happens now is we'll review your meshu, process it, and send it off to the fabricator. Once they send your meshu back to us ({{ order.get_processing_time }}) we finish it, package it, and send it on your way!. We'll also email you updates as your meshu is made.
    <br /><br />
    You can also view or share your meshu with this link: <a href="http://meshu.io{% shorturl meshu %}"><b>http://meshu.io{% shorturl meshu %}</b></a>.
    <br /><br />
    Best,
    <br />
    Rachel + Sha
</div>
{% endblock %}