{% extends "meshu/email/base_email.html" %}

{% block plaintext_header %}
How exciting! Your order is off to the fabricator!
{% endblock %}

{% block header_image %}
{% endblock %}

{% block email_title %}
How exciting! Your order is off to the fabricator!
{% endblock %}

{% block content %}
<img src="http://o7.no/wA9xVQ" style="max-width:560px;" />
<br /><br />
<div>
    <h3 class="h4">{{ meshu.title }} is off to the fabricator!</h3>
    We've processed your <b>{{ order.color|lower }} {{ order.material }} {{ order.product }}</b> order and have sent it off to the fabricator! We'll let you know when it's en route to you.
    <br />
    Also, in case you forgot, you can check out what your meshu looks like here: <b><a href="http://meshu.io{% shorturl meshu %}">http://meshu.io{% shorturl meshu %}</a></b>.
</div>
{% endblock %}