{% extends "meshu/base.html" %}

{% block title %}Current Orders{% endblock %}

{% block content %}
    <h2 class="page-header">{{ orders|length }} orders that haven't been shipped yet. Get to it!</h2>
    <div class="inner-content">
    <ul class="gallery">
        {% for order in orders reversed %}
            <li class="status-list">
                <div class="{{ order.status }} status-block">
                    {{ order.status }}
                </div>
                <div class="status-meshu">
                    {% autoescape off %}
                        {{ order.meshu.svg }}
                    {% endautoescape %}
                </div>
                <div class="status-information">
                    <b><a href="{{ order.meshu.get_absolute_url }}" target="{{ order.meshu.id }}">{{ order.meshu.title }} by {{ order.contact }}</a></b>
                    <br /><br />
                    <span class="date">Ordered on {{ order.date_created }}</span>
                    <span class="status">Current Status: {{ order.get_status_message }}</span>
                    <form action="/orders/{{ order.id }}/update/">
                        <select name="status">
                            <option value="OR">Ordered</option>
                            <option value="PR">Processed</option>
                            <option value="SE">Sent to Fabricator</option>
                            <option value="RE">Received from Fabricator</option>
                            <option value="PA">Packaged</option>
                            <option value="SH">Shipped</option>
                        </select>
                        <label for="tracking">tracking number</label>
                        <input type="text" value="" name="tracking">
                        <input type="submit" value="Notify!">
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>

    <br />
    <h2>{{ orders_shipped|length }} orders have been shipped! Yay!</h2>
    <br /><br />
    <ul class="gallery">
        {% for order in orders_shipped reversed %}
            <li>
                <b><a href="{{ order.meshu.get_absolute_url }}" target="_new">{{ order.meshu.title }} by {{ order.contact }}</a></b>
                <span class="date">Ordered on {{ order.date_created }}</span>
                <span class="date">Shipped on {{ order.ship_date }}</span>
                <br /><br />
            </li>
        {% endfor %}
    </ul>
    <br /><br /><br />
    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.js"></script>
    <script type="text/javascript">

        d3.selectAll("#master-svg").attr("class","meshu-svg")
        d3.selectAll("#delaunay").each(function(){
            var node = d3.select(this);
            var t = node.attr("transform") || "";
            node.attr("transform","scale(.15)  translate(-80, -80)" + t);
        });

    </script>
{% endblock %}