{% extends "meshu/base.html" %}

{% block title %}Current Orders{% endblock %}

{% block content %}
    <h2 class="page-header">{{ orders|length }} orders that haven't been shipped yet. Get to it!</h2>
    <div class="inner-content">
    <ul class="gallery">
        {% for order in orders reversed %}
            <li class="status-list">
                <div class="{{ order.status }} status-block">
                    {{ order.status }}
                </div>
                <div class="status-information">
                    <b><a href="{{ order.meshu.get_absolute_url }}" target="_new">{{ order.meshu.title }} by {{ order.contact }}</a></b>
                    <br /><br />
                    <span class="date">Ordered on {{ order.date_created }}</span>
                    <span class="status">Current Status: {{ order.get_status_message }}</span>

                    <form action="/orders/{{ order.id }}/update/">
                        <select name="status">
                            <option value="OR">Ordered</option>
                            <option value="PR">Processed</option>
                            <option value="SE">Sent to Fabricator</option>
                            <option value="RE">Received from Fabricator</option>
                            <option value="PA">Packaged</option>
                            <option value="SH">Shipped</option>
                        </select>
                        <label for="tracking">tracking number</label>
                        <input type="text" value="" name="tracking">
                        <input type="submit" value="Notify!">
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/orderprocessing.js"></script>
{% endblock %}