{% extends "meshu/item/base_item.html" %}
{% load shorturl %}

{% block login_form %}Meshu - Postcard Front{% endblock %}

{% block body_class %}postcard streets{% endblock body_class %}

{% block edit %}
{% endblock %}

{% load shorturl %}

{% block navigation %}
<ul id="nav">
	<li class="nav-list">{% shorturl meshu %}</li>
	<li class="nav-list"><a href="/orders/">orders</a></li>
	<li class="nav-list"><a href="/admin/meshu/meshu/{{ meshu.id }}/">meshu #{{ meshu.id }}</a></li>
	<li class="nav-list"><a href="{{ meshu.get_absolute_url }}">{{ meshu.title }} by {{ meshu.user_profile.user.email }}</a></li>
</ul>
{% endblock %}

{% block view %}
    <div id="view">
        <h2><span>{{ meshu.title }}</span></h2>
        <p class="show-places">show places list</p>
        <p class="show-places" style="display: none;">hide places list</p>
        <ul id="display-places"></ul>
    </div>
{% endblock %}

{% block extra-libraries %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.min.js"></script>
    <script src="https://cdn.rawgit.com/mbostock/topojson/3ed6ee9e04d4/topojson.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.geo.tile.v0.min.js"></script>
{% endblock %}

{% block script-specific %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/mesh.streets.js"></script>
{% endblock %}

{% block object %}
{% endblock %}

{% block make %}
{% endblock %}

{% block addons %}
{% endblock %}

{% block checkout %}
{% endblock %}