<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/style.less"/>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/less-1.2.1.min.js"></script>
    <title>{% block title %}Meshu{% endblock %}</title>
</head>

<body>
	<div id="top">
		{% block navigation %}
		<ul id="nav">
		    <li class="nav-list"><a href="/make/">make</a></li>
			<li class="nav-list"><a href="/shop/">shop</a></li>
			<li class="nav-list"><a href="/about/">about</a></li>

	<li id="login" {% if user.is_authenticated %}style="display: none;"{% endif %} class="nav-list">login</li>
	<li id="profile" {% if user.is_anonymous %}style="display: none;"{% endif %} class="nav-list"><a href="/user/">profile</a></li>
	<li id="logout" {% if user.is_anonymous %}style="display: none;"{% endif %} class="nav-list">logout</li>

	<div id="login-form" class="signin">
		<h2>Please sign in to place an order</h2>
		<ul>
			<li id="tab-signin" class="active">Sign In</li>
			<li id="tab-account">Create an Account</li>
		</ul>
		<table><tbody>
			<form action="" method="POST" id="user-form">
            {# put a csrf token in every form in django, for security #}
            <div id="csrf">
            	{% csrf_token %}
            </div>
			<tr>
				<td><label for="id_username">Email</label></td>
				<td><input id="id_username" type="text" name="username" maxlength="30"></td>
			</tr>
			<tr>
				<td><label for="id_password">Password</label></td>
				<td><input type="password" name="password" id="id_password"></td>
			</tr>
			<tr class="account">
				<td><label for="repeat_password">Re-enter Password</label></td>
				<td><input type="password" name="repeat_password" id="repeat_password"></td>
			</tr>
			</form>
		</tbody></table>
		<div id="login-buttons">
			<div id="login-cancel" class="button">Cancel</div>
			<div id="login-submit" class="button signin">Login</div>
			<div id="login-create" class="button account">Create Account</div>
		</div>
	</div>

		</ul>
		{% endblock %}
		<h1 id="meshu"><a href="/">meshu</a></h1>
	</div>

	<div id="content" class="{% block page_type %}{% endblock %}">
		{% block content %}
		{% endblock %}
	</div>
</body>
    <script type="text/javascript" src="{{ STATIC_URL }}js/user.js"></script>
    <script type="text/javascript">
    	{% if user.is_authenticated %}
    		user.loggedIn = true;
    	{% endif %}
    </script>
{% block script %}
{% endblock %}
{% block resources %}
{% endblock %}
</html>
