{% extends "meshu/base.html" %}

{% block title %}Meshu - Gallery{% endblock %}

{% block content %}
	<h2 class="page-header">A look at what's possible with meshu:</h2>
	<ul class="gallery" id="gallery">
		<li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m8.jpg" />
            <div class="text-block">
                <span class="title">Bamboo Pendant Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$75</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m10.jpg" />
            <div class="text-block">
                <span class="title">White Nylon Earrings</span><br>
                <span class="description">4-5 Weeks To Make</span>
                <span class="price">$90</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m7.jpg" />
            <div class="text-block">
                <span class="title">Silver Cufflinks</span><br>
                <span class="description">5-6 Weeks To Make</span>
                <span class="price">$150</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m2.jpg" />
            <div class="text-block">
                <span class="title">Silver Pendant Necklace</span><br>
                <span class="description">5-6 Weeks To Make</span>
                <span class="price">$130</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m5.jpg" />
            <div class="text-block">
                <span class="title">Black Nylon Large Necklace</span><br>
                <span class="description">4-5 Weeks To Make</span>
                <span class="price">$95</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m6.jpg" />
            <div class="text-block">
                <span class="title">Bamboo Large Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$80</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m3.jpg" />
            <div class="text-block">
                <span class="title">Black Acrylic Pendant Necklace</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$85</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m1.jpg" />
            <div class="text-block">
                <span class="title">Silver Cufflinks</span><br>
                <span class="description">5-6 Weeks To Make</span>
                <span class="price">$150</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m12.jpg" />
            <div class="text-block">
                <span class="title">Silver Large Necklace</span><br>
                <span class="description">5-6 Weeks To Make</span>
                <span class="price">$150</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m11.jpg" />
            <div class="text-block">
                <span class="title">White Acrylic Pendant Necklace</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$85</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m13.jpg" />
            <div class="text-block">
                <span class="title">Bamboo Earrings</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$75</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m4.jpg" />
            <div class="text-block">
                <span class="title">Silver Earrings</span><br>
                <span class="description">5-6 Weeks To Make</span>
                <span class="price">$150</span>
            </div>
            </a>
        </li>
    </ul>
{% endblock %}