<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/style.less"/>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/less-1.2.1.min.js"></script>
    <title>{% block title %}Meshu{% endblock %}</title>
</head>

<body>
	<div id="navigation">
		{% block navigation %}
		<ul>
		    <li><a href="/">Home</a></li>
			<li><a href="/blog/">Blog</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
