{% extends "meshu/base.html" %}

{% block title %}Meshu - About{% endblock %}

{% block content %}
<h2 class="page-header">We are Sha and Rachel and we like you.</h2>
<div class="inner-content">
<p>Our ability to make custom pieces is only possible because of the wonderful <a href="http://nicolation.net/" class="about-link">Nicole Aptekar</a> and the from-the-future-duo of <a href="http://ponoko.com/" class="about-link">Ponoko</a> and <a href="http://shapeways.com/" class="about-link">Shapeways</a>.</p><p>Special thanks to <a href="http://about.me/nadyalev" class="about-link">Nadya Lev</a> for her gorgeous photography. If you have questions, comments, ideas, or suggestions, get in touch at <a href="mailto:hi@meshu.io" style="text-decoration: underline;">hi@meshu.io</a>.</p>
<div class="about">
	<img src="{{ STATIC_URL }}images/photos/sha_about.png" style="float:left;">
	<h2>Sha Hwang</h2>
	<p>Sha studied and worked in architecture before working on maps and data visualizations at Stamen. Currently at Trulia, Sha continues to explore his interests in the flows of cities. Sha mostly just <a href="http://twitter.com/shashashasha">tweets</a>, but tries to <a href="http://pinterest.com/shashashasha">pin</a> from time to time.</p>
</div>
<div class="about right">
	<img src="{{ STATIC_URL }}images/photos/binx_about.png">
	<h2>Rachel Binx</h2>
	<p>Rachel's background is in math and art history, but has also been making jewelry in some form or another since she was a kid. She is currently freelancing as a data visualizer, and spends her nights thinking about internet culture and animated GIFs. Rachel <a href="http://twitter.com/rachelbinx">tweets</a>, <a href="http://flickr.com/photos/frugalbinx">flicks</a>, and occasionally <a href="http://pinterest.com/rachelbinx">pins</a>. </p>
</div>
</div>
{% endblock %}