{% extends "meshu/base.html" %}

{% block title %}Meshu - Gallery{% endblock %}

{% block content %}
    <h2 class="page-header">A look at what's possible with Meshu:</h2>
    <ul class="gallery" id="gallery">
        <li class="object">
            <a href="../make/radial">
            <img src="{{ STATIC_URL }}images/gallery/r6.jpg" />
            <div class="text-block">
                <span class="title">Brass Pendant Necklace</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$145</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m15.jpg" />
            <div class="text-block">
                <span class="title">Sterling Silver Ring</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$120</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m13.jpg" />
            <div class="text-block">
                <span class="title">Bamboo Earrings</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$75</span>
            </div>
            </a>
        </li>
        <!-- <li class="object">
            <a href="../make/arc">
            <img src="{{ STATIC_URL }}images/gallery/a0.jpg" />
            <div class="text-block">
                <span class="title">Postcard</span><br>
                <span class="description">1-2 Weeks To Make</span>
                <span class="price">$5</span>
            </div>
            </a>
        </li> -->
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m14.jpg" />
            <div class="text-block">
                <span class="title">White Nylon Ring</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$30</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m5.jpg" />
            <div class="text-block">
                <span class="title">Black Nylon Large Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$90</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m1.jpg" />
            <div class="text-block">
                <span class="title">Silver Cufflinks</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$165</span>
            </div>
            </a>
        </li>
        <!-- <li class="object">
            <a href="../make/arc">
            <img src="{{ STATIC_URL }}images/gallery/a1.jpg" />
            <div class="text-block">
                <span class="title">8x10" Poster</span><br>
                <span class="description">1-2 Weeks To Make</span>
                <span class="price">$20</span>
            </div>
            </a>
        </li> -->
        <li class="object">
            <a href="../make/radial">
            <img src="{{ STATIC_URL }}images/gallery/r2.jpg" />
            <div class="text-block">
                <span class="title">Acrylic Pendant</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$85</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m8.jpg" />
            <div class="text-block">
                <span class="title">Bamboo Pendant Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$75</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/radial">
            <img src="{{ STATIC_URL }}images/gallery/r5.jpg" />
            <div class="text-block">
                <span class="title">Black Nylon Pendant Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$95</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/radial">
            <img src="{{ STATIC_URL }}images/gallery/r3.jpg" />
            <div class="text-block">
                <span class="title">Silver Pendant Necklace</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$160</span>
            </div>
            </a>
        </li>
        <li class="object">
            <img src="{{ STATIC_URL }}images/gallery/m2.jpg" />
            <div class="text-block">
                <span class="title">Silver Pendant Necklace</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$145</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m3.jpg" />
            <div class="text-block">
                <span class="title">Black Acrylic Pendant Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$80</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m10.jpg" />
            <div class="text-block">
                <span class="title">White Nylon Earrings</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$85</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/radial">
            <img src="{{ STATIC_URL }}images/gallery/r1.jpg" />
            <div class="text-block">
                <span class="title">Black Acrylic Pendant Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$85</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/radial">
            <img src="{{ STATIC_URL }}images/gallery/r4.jpg" />
            <div class="text-block">
                <span class="title">Silver Pendant Necklace</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$160</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m6.jpg" />
            <div class="text-block">
                <span class="title">Bamboo Large Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$80</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m7.jpg" />
            <div class="text-block">
                <span class="title">Silver Cufflinks</span><br>
                <span class="description">3-4 Weeks To Make</span>
                <span class="price">$165</span>
            </div>
            </a>
        </li>
        <li class="object">
            <a href="../make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m11.jpg" />
            <div class="text-block">
                <span class="title">White Acrylic Pendant Necklace</span><br>
                <span class="description">2-3 Weeks To Make</span>
                <span class="price">$80</span>
            </div>
            </a>
        </li>
    </ul>
    <div style="clear:both;"></div>
    <h2 style="margin: 45px 0 20px; text-align: center;">Ready to make your own? Try <a class="button pink" href="/make/facet">Facet</a> or <span class="button">Radial</span>.</h2>
{% endblock %}