<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/style.less"/>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/less-1.2.2.min.js"></script>
    <title>{% block title %}Meshu{% endblock %}</title>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29306854-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>

	<div id="top">
		{% block navigation %}
		<ul id="nav">
		    <li class="nav-list"><a href="/make/">make</a></li>
			<li class="nav-list"><a href="/shop/">shop</a></li>
			<li class="nav-list"><a href="/about/">about</a></li>

			<li id="login" {% if user.is_authenticated %}style="display: none;"{% endif %} class="nav-list">login</li>
			<li id="profile" {% if user.is_anonymous %}style="display: none;"{% endif %} class="nav-list"><a href="/user/">profile</a></li>
			<li id="logout" {% if user.is_anonymous %}style="display: none;"{% endif %} class="nav-list">logout</li>
		</ul>

		<div id="login-form" class="signin">
			<h2 class="account">Please sign up to continue</h2>
			<h2 class="signin">Please log in to continue</h2>
			<ul>
				<li id="tab-account" class="active">Create an Account</li>
				<li id="tab-signin">Log In</li>
			</ul>
			<div id="csrf">
				{% csrf_token %}
			</div>
			<form id="form-signin" class="signin">
				<div class="login-row">
					<label for="signin_name">Email</label>
					<input id="signin_name" class="required email" type="text" name="signin_name" maxlength="30" style="margin-left: 47px;">
				</div>
				<div class="login-row">
					<label for="signin_password">Password</label>
					<input type="password" class="required" name="signin_password" id="signin_password">
					<label id="login-error" for="signin_password" class="error">Oops, wrong email or password.</label>
				</div>
				<p>Forgot your password? Click <a href="/user/forgot/">here</a> to reset it.</p>
				<div class="login-buttons">
					<div class="login-cancel button">Cancel</div>
					<input id="login-signin" class="button" type="submit" value="Login">
				</div>
			</form>
			<form id="form-account" class="account">
				<div class="login-row">
					<label for="account_name">Email</label>
					<input id="account_name" class="required email" type="text" name="account_name" maxlength="30" style="margin-left: 47px;">
				</div>
				<div class="login-row">
					<label for="account_password">Password</label>
					<input type="password" class="required" name="account_password" id="account_password">
				</div>
				<div class="login-row">
					<label for="repeat_password" style="bottom: -10px; float: left; line-height: 15px;">Re-enter Password</label>
					<input type="password" class="required" name="repeat_password" id="repeat_password" style="margin-left: 14px;">
				</div>
				<p class="account-message">Don't worry, we'll never give your email address to anyone else. We hate spam as much as you do!</p>
				<div class="login-buttons">
					<div class="login-cancel button">Cancel</div>
					<input id="login-account" class="button" type="submit" value="Create Account">
				</div>
			</form>
		</div>
		{% endblock %}
		<!-- <h1 id="meshu"> -->
		<a href="/"><img src="{{ STATIC_URL }}images/logo.png" /></a>
		<!-- </h1> -->
	</div>

	<div id="content" class="{% block page_type %}{% endblock %}">
		{% block content %}
		{% endblock %}
		<div id="modal-bg"></div>
	</div>
</body>
    <script type="text/javascript" src="{{ STATIC_URL }}js/user.js"></script>
    <script type="text/javascript">
    	// django static url
    	var static_url = "{{ STATIC_URL }}";

    	{% if user.is_authenticated %}
    		user.loggedIn = true;
    	{% endif %}
    </script>
	
	{% block script %}
	{% endblock %}
	{% block resources %}
	{% endblock %}
</html>
