{% extends "meshu/base.html" %}

{% block title %}Meshu - About{% endblock %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<h3 class="tiny" style="text-align: center;
margin: 50px 0 0;">get informed</h3>
<h2 class="ultra-big">frequently asked questions</h2>
<div class="inner-content">
	<div class="about-wrapper">
		<div class="one-half">
			<div class="question">
				<span class="q">What are the holiday ordering deadlines?</span>
				<p>Each meshu requires custom manufacturing, so unfortunately they require some lead time.</p>
				<p>Silver, Brass and Nylon: Nov. 25th</p>
				<p>Bamboo and Acrylic: Dec. 8th</p>
				<p>Print Maps: Dec. 15th</p>
				<p>The above dates are for US orders. For all other countries, it's hard to tell how long shipping will take, please subtract another 1-2 weeks for international shipping.</p>
			</div>
			<div class="question">
				<span class="q">Where do you ship?</span>
				<p>We ship all over the world!</p>
			</div>
		</div>
		<div class="one-half">
			<div class="question">
				<span class="q">How long does it take to make a meshu?</span>
				<p>It depends on the material! Silver and brass pieces take 2-3 weeks to manufacturer. Bamboo, acrylic, and nylon take 1-2 weeks. All prints ship in under one week.</p>
			</div>
			<div class="question">
				<span class="q">Where are meshus made?</span>
				<p>Each meshu is manufactured in the USA, then hand-assembled and shipped from Los Angeles.</p>
			</div>
		</div>
		<p style="    clear: both;
    font-size: 18px;
    text-align: center;">If you have any other questions, please get in touch at <script language="javascript"><!--
var name = "hi";
var domain = "meshu.io";
document.write('<a href=\"mailto:' + name + '@' + domain + '\" style=\"text-decoration: underline;\">');
document.write(name + '@' + domain + '</a>');
// --></script></p>
	</div>
</div>
{% endblock %}