{% extends "meshu/base.html" %}

{% block title %}Welcome to Meshu{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
<div id="main">
	<h2 class="big">Say hi to meshu.</h2>

	<ul id="diagram">
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_01.png">
			<p>Enter in cities you've been to,</p>
			<p>or any places you like.</p>
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_02.png">
			<p>We generate a meshu to order</p>
			<p>as a necklace or earrings.</p>
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_03.png">
			<p>We fabricate and ship you</p>
			<p>your finished piece!</p>
		</li>
	</ul>

	<div id="mc_embed_signup">
		<form action="http://meshu.us4.list-manage.com/subscribe/post?u=ff0ddd123572fdc8891df623e&amp;id=43c8c55de8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
		    <label for="mce-EMAIL">Sign up to be notified when we launch.</label>
		    <input type="email" value="email address" name="EMAIL" class="email" id="mce-EMAIL" onfocus="value=''" required>
		    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		</form>
	</div>

	<form action="/invite/" method="post" name="invite-form">
		{% csrf_token %}
		<label>Or if you have an invite code, enter it here.</label>
		<input value="seekrit code" onfocus="value=''" name="code">
		<input type="submit" value="Let's go!" class="button">
	</form>
</div>
{% endblock %}
