{% extends "meshu/base.html" %}

{% block title %}Meshu - Turn your places into beautiful objects.{% endblock %}

{% block page_type %}{% endblock %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
	<div id="photos">
		<img class="banner" id="banner-0" src="{{ STATIC_URL }}images/index/index_banners/slide1.jpg" style="">
		<img class="banner" id="banner-1" src="{{ STATIC_URL }}images/index/index_banners/slide2.jpg" style="display:none;">
		<img class="banner" id="banner-2" src="{{ STATIC_URL }}images/index/index_banners/slide3.jpg" style="display: none;">
		<img class="banner" id="banner-3" src="{{ STATIC_URL }}images/index/index_banners/slide4.jpg" style="display:none;">
		<span class="hero-text">custom-made jewelry, created from the places that are important to you</span>
		<div class="large-button">
			<a href="/make/" class="button">get started</a>
		</div>
		<!-- <div class="large-button">
			<a href="/gallery/" class="button">View Our Gallery</a>
		</div> -->
	</div>
<!-- 	<div id="intro-text">
		<div class="meshu-title big">each meshu tells a story</div>
		meshu helps you make beautiful mementos from the places that are important to you.
	</div> -->

	<h2 class="big">how it works</h2>

    <ul id="diagram">
        <li>
            <img src="{{ STATIC_URL }}images/index/diagrams/diagrams_01.png">
            <p>Enter in cities you've been to,</p>
            <p>or any places you like.</p>
        </li>
        <li>
            <img src="{{ STATIC_URL }}images/index/diagrams/diagrams_02.png">
            <p>We generate a meshu to order as</p>
            <p>a necklace, earrings, ring, or a print.</p>
        </li>
        <li>
            <img src="{{ STATIC_URL }}images/index/diagrams/diagrams_03.png">
            <p>We fabricate and ship your</p>
            <p>finished piece to you!</p>
        </li>
    </ul>

    <p class="diagram-p"><a class="button" href="/make/">get started making</a></p>

	<div class="index-gallery">
		<div class="col-sm">
			<a href="/make/orbit">
				<!-- <img src="{{ STATIC_URL }}images/index/index_big/d1.png" width="100%"> -->
				<img src="{{ STATIC_URL }}images/gallery/m3.jpg">
			</a>
			<a href="/make/facet">
				<img src="{{ STATIC_URL }}images/gallery/m15.jpg">
			</a>
			<a href="/make/facet">
				<img src="{{ STATIC_URL }}images/gallery/m10.jpg">
			</a>
		</div>
		<div class="col-lg">
			<a href="/make/grid">
				<!-- <img src="{{ STATIC_URL }}images/index/index_big/d5.png" width="100%"> -->
				<img src="{{ STATIC_URL }}images/index/lg-1.jpg">
			</a>
			<a href="/make/facet">
				<img src="{{ STATIC_URL }}images/index/lg-2.jpg">
			</a>
		</div>
		<div class="col-sm">
			<a href="/make/orbit">
				<!-- <img src="{{ STATIC_URL }}images/index/index_big/d3.png" width="100%"> -->
				<!-- <img src="{{ STATIC_URL }}images/index/index_big/f-1.jpg"> -->
				<img src="{{ STATIC_URL }}images/gallery/o2.jpg">
			</a>
			<a href="/make/arc">
				<img src="{{ STATIC_URL }}images/gallery/a1.jpg">
			</a>
			<a href="/make/facet">
				<img src="{{ STATIC_URL }}images/gallery/o1.jpg">
			</a>
		</div>
	</div>

    <!-- <a href="/make/arc" class="product-shot print">
    	<img src="{{ STATIC_URL }}images/index/print-banner.jpg" style="float: left;">
    	<div class="text">
	    	<h3>trace your travels</h3>
	    	<p>Accentuate your home with maps of your journeys.</p>
	    	<div class="button pink">Make a print</div>
    	</div>
    </a>
    <a class="product-shot new" href="/make/facet">
    	<img src="{{ STATIC_URL }}images/index/rings.jpg">
    	<h3>put a ring on it</h3>
    	<p>Introducing meshu rings, 3D-printed in silver, brass, and nylon.</p>
    	<div class="button pink">Make a ring</div>
    </a>
    <ul class="product-grid small">
    	<li><a href="/make/facet"><img src="{{ STATIC_URL }}images/gallery/m3.jpg"></a></li>
    	<li><a href="/make/grid"><img src="{{ STATIC_URL }}images/gallery/g3.jpg"></a></li>
    	<li><a href="/make/facet" class="dark"><img src="{{ STATIC_URL }}images/gallery/m10.jpg"></a></li>
    	<li><a href="/make/arc"><img src="{{ STATIC_URL }}images/gallery/a1.jpg"></a></li>
    </ul>
    <ul class="product-grid large">
        <li><a href="/make/facet" class="dark"><img src="{{ STATIC_URL }}images/gallery/m14.jpg"></a></li>
    	<li><a href="/make/grid"><img src="{{ STATIC_URL }}images/gallery/g2.jpg"></a></li>
    	<li><a href="/make/facet" class="dark"><img src="{{ STATIC_URL }}images/gallery/m11.jpg"></a></li>
    	<li><a href="/make/facet"><img src="{{ STATIC_URL }}images/gallery/m6.jpg"></a></li>
    	<li><a href="/make/orbit" class="dark"><img src="{{ STATIC_URL }}images/gallery/o3.jpg"></a></li>
    	<li><a href="/make/facet" class="dark"><img src="{{ STATIC_URL }}images/gallery/m16.jpg"></a></li>
    </ul>
    <a class="product-shot old" href="/make/grid">
    	<img src="{{ STATIC_URL }}images/index/grid.jpg">
    	<h3>hometown pride</h3>
    	<p>Created from the streets <br>around your home.</p>
    	<div class="button pink">Make a Grid</div>
    </a> -->


	<h2 class="big">each meshu tells a story</h2>

	<div id="banners">
		<img class="macro" id="macro-0" src="{{ STATIC_URL }}images/index/note_banners/macro0.jpg" />
		<img class="macro" id="macro-1" src="{{ STATIC_URL }}images/index/note_banners/macro1.jpg" style="display: none;"/>
		<img class="macro" id="macro-2" src="{{ STATIC_URL }}images/index/note_banners/macro2.jpg" style="display: none;"/>
		<img class="macro" id="macro-3" src="{{ STATIC_URL }}images/index/note_banners/macro3.jpg" style="display: none;"/>
	</div>

<!-- 	<h2 class="big after-gallery">each meshu is custom-made for you</h2>	
	<img src="{{ STATIC_URL }}images/index/meshu-hero.jpg" class="meshu-hero"> -->

	<div class="press-container">
		<h2 class="big">meshu in the press</h2>
		<div class="press-images">
			<div style="width: 280px;" class="double">
				<a href="http://www.trendhunter.com/trends/meshu-jewelry#!/photos/154827/1" target="_blank"><img src="{{ STATIC_URL }}images/press/1_trendhunter.jpg"/></a>
				<a href="http://www.theverge.com/2012/5/31/3054768/meshu-foursquare-location-based-jewelry" target="_blank"><img src="{{ STATIC_URL }}images/press/2_verge.jpg"/></a>
			</div>
			<a href="http://www.travelandleisure.com/travel-blog/carry-on/2012/5/31/tech-thursday-custom-made-foursquare-jewelry" target="_blank"><img src="{{ STATIC_URL }}images/press/3_travelandleisure.jpg"/></a>
			<div style="width: 204px;" class="double">
				<a href="http://www.littlemissbeauty.fr/wordpress/2012/08/my-meshu-un-bijou-pour-un-voyage-suite-de-lhistoire/" target="_blank"><img src="{{ STATIC_URL }}images/press/4_grazia.jpg"/></a>
				<a href="http://blogs.artinfo.com/objectlessons/2012/05/30/finally-3d-printed-jewelry-that-says-something-about-you-not-just-about-3d-printing/" target="_blank"><img src="{{ STATIC_URL }}images/press/5_artinfo.jpg"/></a>
			</div>
			<a href="http://thecreatorsproject.vice.com/blog/turn-your-foursquare-check-in-data-into-jewelry" target="_blank"><img src="{{ STATIC_URL }}images/press/6_creatorsproject.jpg"/></a>
		</div>
		<div class="press-images">
			<a href="http://design-milk.com/a-day-in-the-life-of-meshu/" target="_blank"><img src="{{ STATIC_URL }}images/press/7_designmilk.jpg"/></a>
			<a href="http://flowingdata.com/2012/05/30/meshu-makes-physical-objects-with-your-location/" target="_blank"><img src="{{ STATIC_URL }}images/press/8_flowingdata.jpg"/></a>
			<a href="http://www.fastcodesign.com/1669932/meshu-maps-the-places-you-ve-been-and-turns-them-into-jewelry" target="_blank"><img src="{{ STATIC_URL }}images/press/9_fastcodesign.jpg"/></a>
			<a href="http://www.psfk.com/2012/05/foursquare-check-in-jewelry.html" target="_blank"><img src="{{ STATIC_URL }}images/press/10_psfk.jpg"/></a>
			<a href="http://www.thrillist.com/travel/nation/meshu" target="_blank"><img src="{{ STATIC_URL }}images/press/11_thrillist.jpg"/></a>
			<a href="http://www.jaunted.com/story/2013/4/30/13959/5180/travel/Turning+a+Trip+Itinerary+Into+Jewelry+is+the+Best+Gift+Idea+Ever" target="_blank"><img src="{{ STATIC_URL }}images/press/12_jaunted.jpg"/></a>
		</div>
	</div>

	
	<div class="inspired">
		<div class="text">
			<img src="{{ STATIC_URL }}images/logo_knockout.png" />
			<h2 class="big">get inspired!</h2>
			<h2 class="big">visit our gallery</h2>
			<a class="button" href="/gallery/">go to gallery</a>
		</div>
	</div>

<!-- 	<div class="get-started" style="margin: 100px 0; clear: both">
		<img src="{{ STATIC_URL }}images/index/footer.jpg" style="float: right;">
		<div class="text">
			<h2 class="big">ready to get started?</h2>
			<div class="options">
				<a class="button" href="/gallery/">View Our Gallery</a>
				<a class="button pink" href="/make/">Make Your Own!</a>
			</div>
		</div>
	</div> -->
{% endblock %}

{% block script %}
	<script src="{{ STATIC_URL }}lib/jquery-ui.min.js"></script>

    {% if debug == false %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/min/index.min.js"></script>
    {% else %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
	{% endif %}
{% endblock %}