{% extends "meshu/base.html" %}

{% block title %}Meshu - Hi, Friend!{% endblock %}

{% block content %}
<div id="main">
	<h2 class="big">meshu turns your places into beautiful objects.</h2>
	<h2 class="call"><a href="/shop/" class="button shop">Shop Our Gallery</a> <a href="/make/" class="button pink">Make Your Own</a> <span class="foursquare-auth button">Start With Foursquare</span></h2>

	<div id="banners">
		<img class="bleed" id="banner-2" src="{{ STATIC_URL }}images/samples/banner2.jpg" style="display: none;"/>
		<img class="bleed" id="banner-1" src="{{ STATIC_URL }}images/samples/banner3.jpg" style="display: none;"/>
		<img class="bleed" id="banner-0" src="{{ STATIC_URL }}images/samples/banner1.jpg" />
	</div>

	<h2 class="big">here's how it works:</h2>

	<ul id="diagram">
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_01.png">
			<p>Enter in cities you've been to,</p>
			<p>or any places you like.</p>
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_02.png">
			<p>We generate a meshu to order as</p>
			<p>a necklace, earrings, or cufflinks.</p>
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/diagrams/diagrams_03.png">
			<p>We fabricate and ship you</p>
			<p>your finished piece!</p>
		</li>
	</ul>

	<h2 class="big">ready to get started?</h2>
	<div id="get-started">
		<a class="option" href="/shop/">Shop Our Gallery</a>
		<a class="option pink" href="/make/">Make Your Own!</a>
	</div>
	<h2 class="bottom">Or, <span class="foursquare-auth button">connect with Foursquare</span> to use your checkin data.</h2>

</div>
{% endblock %}

{% block script %}
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/min/index.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/min/foursquare.min.js"></script>
{% endblock %}
