{% extends "meshu/base.html" %}

{% block title %}Meshu - Make Your Own Unique Jewelry{% endblock %}

{% block page_type %}landing{% endblock page_type %}

{% block content %}
<!-- <div id="bg-map" style="position: absolute; width: 100%; height: 100%;">
</div> -->
<h3 class="tiny" style="text-align: center; margin: 50px 0 0;">get started</h3>
    <h2 style="    text-align: center;
    font-size: 56px;
    margin: 10px 0 50px;
    font-weight: bold;">meshu comes in four flavors</h2>
<div id="make-landing">
    <div class="splitimages">
        <a href="/make/orbit">
            <img src="{{ STATIC_URL }}images/gallery/o0.jpg"/>
            <div class="overlay">Orbit</div>
        </a>
    </div>
    <div class="splitimages">
        <a href="/make/grid">
            <img src="{{ STATIC_URL }}images/gallery/g3.jpg"/>
            <div class="overlay">Grid</div>
        </a>
    </div>
    <div class="splitimages">
        <a href="/make/facet">
            <img src="{{ STATIC_URL }}images/gallery/m2.jpg"/>
            <div class="overlay">Facet</div>
        </a>
    </div>
    <!-- <div class="splitimages">
        <a href="/make/radial">
            <img src="{{ STATIC_URL }}images/gallery/r5.jpg"/>
            <div class="button">Mark your home with Radial</div>
        </a>
    </div> -->
    <div class="splitimages">
        <a href="/make/arc">
            <img src="{{ STATIC_URL }}images/gallery/a1.jpg"/>
            <div class="overlay">Arc</div>
        </a>
    </div>
    <!-- <div class="bigimage" style="margin-top: 40px;">
        <a href="/make/arc">
            <img src="{{ STATIC_URL }}images/index/print-wide.jpg"/>
            <div class="button">Or make a print with Arc</div>
        </a>
    </div> -->
</div>
{% endblock %}

{% block resources %}
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}lib/polymaps.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/d3.v2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/min/map.min.js"></script>

    <script type="text/javascript">
        $(function() {
            var map = sb.map("#bg-map", "100%", "100%");
        });
    </script>   -->
{% endblock %}
