.center {
	padding-top: 0px !important;
    width: 400px;
    margin-right: 0;
}
.row-fluid>[class*="span"] {
	margin: 0 !important;
}
.container-fluid {
	padding: 0 !important;
}
#pickerComputer {
	background-color: #eee;
	padding: 10px;
    height: 400px;
    width: 810px;
}
#localDragDrop, #fileUploadForm {
	width: 400px;
	height: 400px;
	background: #808080;
	border: none;
	border-radius: 0;
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
}
#localDragDrop {
    background-image: url(img/starburst.png);
    background-position: center;
    box-shadow: none;
}
#localDragHelp {
	background-image: url(img/drag-and-drop.png);
    height: 108px;
    width: 246px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 142px 0 0 77px;
}
.control-label {
	display: none;
}

#fileUploadForm {
    height: 195px;
}
#fileInputContainer {
	z-index: 1;
	overflow: visible;
	width: 303px;
    margin: 43px 0 0 48px;
}
#fileUploadInput{
    line-height: 108px;
    height: 108px;
    cursor: pointer;
}
#fileUploadDummy {
    background-image: url(img/choose-gif.png);
    height: 108px;
    width: 303px;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
#fileUploadDummy:hover {
    background-position: 0 0;
}

#localDragDrop.acceptFileDrop {
    border: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}
.uploadProgress.well {
    width: 800px;
    height: 360px;
    z-index: 2;
    position: absolute;
    border-radius: 0;
}
.well {
    padding: 20px;
}
.progress {
    border-radius: 0;
}
.progress-striped .bar {
    background-color: #ff9900;
}
.small-thumbnail {
    max-height: 100px;
    max-width: 100px;
    border-radius: 0;
    box-shadow: none;
}
.small-thumbnail > img {
    max-height: 100px;
}
table.fileinfo .filename {
    max-width: 250px;
}
.badge-inverse, .badge-inverse:hover, .badge.badge-inverse:hover {
    background-color: #808080;
}
.badge {
    margin-left: 20px;
    text-transform: uppercase;
    padding: 2px 9px 3px;
}

